In [ ]:
from google.colab import files
uploads = files.upload()

Saving Inbound List_20221213154243.xlsx to Inbound List_20221213154243.xlsx
Saving Inbound List_20221213155004 mks.xlsx to Inbound List_20221213155004 mks.xlsx
Saving Inbound List_20221213155311 ampa.xlsx to Inbound List_20221213155311 ampa.xlsx
Saving Inbound List_20221213160623 surya.xlsx to Inbound List_20221213160623 surya.xlsx
Saving Inbound List_20221215163411 intan.xlsx to Inbound List_20221215163411 intan.xlsx
Saving Inbound List_20221215163641 hasa.xlsx to Inbound List_20221215163641 hasa.xlsx
Saving Inbound List_20221215163822 hayu.xlsx to Inbound List_20221215163822 hayu.xlsx
Saving Inbound List_20221215164009 hana.xlsx to Inbound List_20221215164009 hana.xlsx
Saving Inbound List_20221215164233 ctph.xlsx to Inbound List_20221215164233 ctph.xlsx
Saving Inbound List_20221215164452 taab.xlsx to Inbound List_20221215164452 taab.xlsx
Saving Inbound List_20221215164625 mema.xlsx to Inbound List_20221215164625 mema.xlsx
Saving Terminal In & Out_20221213154228.xlsx to Terminal In & Out_20221213154228.xlsx
Saving Terminal In & Out_20221213154936 mks.xlsx to Terminal In & Out_20221213154936 mks.xlsx
Saving Terminal In & Out_20221213155417 ampa.xlsx to Terminal In & Out_20221213155417 ampa.xlsx
Saving Terminal In & Out_20221213160557 surya.xlsx to Terminal In & Out_20221213160557 surya.xlsx
Saving Terminal In & Out_20221215163157 intan.xlsx to Terminal In & Out_20221215163157 intan.xlsx
Saving Terminal In & Out_20221215163731 hasa.xlsx to Terminal In & Out_20221215163731 hasa.xlsx
Saving Terminal In & Out_20221215163922 hayu.xlsx to Terminal In & Out_20221215163922 hayu.xlsx
Saving Terminal In & Out_20221215164048 hana.xlsx to Terminal In & Out_20221215164048 hana.xlsx
Saving Terminal In & Out_20221215164219 ctph.xlsx to Terminal In & Out_20221215164219 ctph.xlsx
Saving Terminal In & Out_20221215164435 taab.xlsx to Terminal In & Out_20221215164435 taab.xlsx
Saving Terminal In & Out_20221215164610 mema.xlsx to Terminal In & Out_20221215164610 mema.xlsx

In [ ]:
import pandas as pd
import os

# Buat list untuk menyimpan data Excel yang akan digabungkan
excel_files = ['Inbound List_20221213154243.xlsx', 'Inbound List_20221213155004 mks.xlsx', 
               'Inbound List_20221213155311 ampa.xlsx', 'Inbound List_20221213160623 surya.xlsx',
               'Inbound List_20221215163411 intan.xlsx', 'Inbound List_20221215163641 hasa.xlsx',
               'Inbound List_20221215163822 hayu.xlsx', 'Inbound List_20221215164009 hana.xlsx',
               'Inbound List_20221215164233 ctph.xlsx', 'Inbound List_20221215164452 taab.xlsx', 'Inbound List_20221215164625 mema.xlsx']

# Buat DataFrame kosong untuk menampung data Excel yang digabungkan
combined_df = pd.DataFrame()

# Loop melalui setiap file Excel dan gabungkan ke DataFrame yang kosong
for file in excel_files:
    if os.path.isfile(file):  # Pastikan file ada di direktori
        df = pd.read_excel(file)
        combined_df = combined_df.append(df)

# Simpan DataFrame yang digabungkan menjadi file Excel baru
combined_df.to_excel('combined_file_inbound.xlsx', index=False)

In [ ]:
import pandas as pd
import os

# Buat list untuk menyimpan data Excel yang akan digabungkan
excel_files = ['Terminal In & Out_20221213154228.xlsx', 'Terminal In & Out_20221213154936 mks.xlsx', 
               'Terminal In & Out_20221213155417 ampa.xlsx', 'Terminal In & Out_20221213160557 surya.xlsx',
               'Terminal In & Out_20221215163157 intan.xlsx', 'Terminal In & Out_20221215163731 hasa.xlsx',
               'Terminal In & Out_20221215163922 hayu.xlsx', 'Terminal In & Out_20221215164048 hana.xlsx',
               'Terminal In & Out_20221215164219 ctph.xlsx', 'Terminal In & Out_20221215164435 taab.xlsx', 'Terminal In & Out_20221215164610 mema.xlsx']

# Buat DataFrame kosong untuk menampung data Excel yang digabungkan
combined_df_terminal = pd.DataFrame()

# Loop melalui setiap file Excel dan gabungkan ke DataFrame yang kosong
for file in excel_files:
    if os.path.isfile(file):  # Pastikan file ada di direktori
        df_terminal = pd.read_excel(file)
        combined_df_terminal = combined_df_terminal.append(df_terminal)

# Simpan DataFrame yang digabungkan menjadi file Excel baru
combined_df_terminal.to_excel('combined_file_terminal.xlsx', index=False)

In [ ]:
combined_df.head(20)

,No.,Stowage,Cargo,Op.Type,DS Plan,POW,Position,Class,Out Crr.Type,Out Carrier,...,OD R,OD H,Comb.,Sub STWG,TML Unit ID,Hatch IDX,Bay IDX,Row IDX,Tier IDX,Block
0,1.0,170602.0,BEAU2717678,Container,NaN,GOT,NaN,Import,G,56.0,...,NaN,NaN,None,1.0,20221112C340657,4.0,12.0,12.0,54.0,NaN
1,2.0,210302.0,BEAU2882522,Container,NaN,GOT,NaN,Import,G,1444.0,...,NaN,NaN,None,1.0,20221112C340728,5.0,15.0,17.0,54.0,NaN
2,3.0,220482.0,BEAU5088814,Container,NaN,GOT,NaN,Import,G,1223.0,...,NaN,NaN,None,1.0,20221112C340892,5.0,16.0,13.0,15.0,NaN
3,4.0,100384.0,BMOU5455046,Container,NaN,GOT,NaN,Import,G,556.0,...,NaN,NaN,None,1.0,20221112C340899,2.0,7.0,17.0,14.0,NaN
4,5.0,140782.0,BMOU6014430,Container,NaN,GOT,NaN,Import,G,186.0,...,NaN,NaN,None,1.0,20221112C340952,3.0,10.0,19.0,15.0,NaN
5,6.0,290086.0,CAIU5220273,Container,NaN,GOT,NaN,Import,G,1715.0,...,NaN,NaN,None,1.0,20221112C340722,7.0,21.0,15.0,13.0,NaN
6,7.0,150082.0,CICU8585990,Container,NaN,GOT,NaN,Import,G,57.0,...,NaN,NaN,None,1.0,20221112C340658,3.0,11.0,15.0,15.0,NaN
7,8.0,70108.0,CICU8587544,Container,NaN,GOT,NaN,Import,G,934.0,...,NaN,NaN,None,1.0,20221112C340781,1.0,5.0,16.0,51.0,NaN
8,9.0,210208.0,CICU8587950,Container,NaN,GOT,NaN,Import,G,1575.0,...,NaN,NaN,None,1.0,20221112C340630,5.0,15.0,14.0,51.0,NaN
9,10.0,130082.0,CICU8589742,Container,NaN,GOT,NaN,Import,G,272.0,...,NaN,NaN,None,1.0,20221112C340668,3.0,9.0,15.0,15.0,NaN
10,11.0,150504.0,CICU8592704,Container,NaN,GOT,NaN,Import,G,272.0,...,NaN,NaN,None,1.0,20221112C340665,3.0,11.0,18.0,53.0,NaN
11,12.0,230402.0,CICU8593260,Container,NaN,GOT,NaN,Import,G,259.0,...,NaN,NaN,None,1.0,20221112C340703,5.0,17.0,13.0,54.0,NaN
12,13.0,130308.0,CICU8594749,Container,NaN,GOT,NaN,Import,G,147.0,...,NaN,NaN,None,1.0,20221112C340809,3.0,9.0,17.0,51.0,NaN
13,14.0,10008.0,CICU8595766,Container,NaN,GOT,NaN,Import,G,309.0,...,NaN,NaN,None,1.0,20221112C340818,0.0,0.0,15.0,51.0,NaN
14,15.0,110308.0,CICU8596130,Container,NaN,GOT,NaN,Import,G,258.0,...,NaN,NaN,None,1.0,20221112C340693,2.0,8.0,17.0,51.0,NaN
15,16.0,110608.0,CICU8596269,Container,NaN,GOT,NaN,Import,G,1397.0,...,NaN,NaN,None,1.0,20221112C340785,2.0,8.0,12.0,51.0,NaN
16,17.0,50306.0,CICU8596280,Container,NaN,GOT,NaN,Import,G,934.0,...,NaN,NaN,None,1.0,20221112C340793,1.0,3.0,17.0,52.0,NaN
17,18.0,250304.0,CICU8597898,Container,NaN,GOT,NaN,Import,G,251.0,...,NaN,NaN,None,1.0,20221112C340697,6.0,18.0,17.0,53.0,NaN
18,19.0,130404.0,CICU8599252,Container,NaN,GOT,NaN,Import,G,265.0,...,NaN,NaN,None,1.0,20221112C340706,3.0,9.0,13.0,53.0,NaN
19,20.0,110306.0,CICU8599904,Container,NaN,GOT,NaN,Import,G,813.0,...,NaN,NaN,None,1.0,20221112C340761,2.0,8.0,17.0,52.0,NaN

In [ ]:
combined_df_terminal.head(20)

,No.,Move\nType,Cargo,Class,POW,Position,In TRSP\nType,In Carrier ID,In Carrier Name,In Carrier Voyage,...,D/O,S/O,Movement Date,In Terminal,Out Terminal,Dwelling Time,Truck In,Truck Out,Service Type,Cargo ID
0,1.0,DS,BEAU2717678,IM,GOT,NaN,V,TATE-0005,TANTO TERANG,208/22,...,NaN,NaN,2022-11-14 06:43,2022-11-14 06:43,2022-11-16 10:53,2.17,NaN,NaN,NaN,20221112C340657
1,2.0,DS,BEAU2882522,IM,GOT,NaN,V,TATE-0005,TANTO TERANG,208/22,...,NaN,NaN,2022-11-14 08:34,2022-11-14 08:34,2022-11-17 17:17,3.36,NaN,NaN,NaN,20221112C340728
2,3.0,DS,BEAU5088814,IM,GOT,NaN,V,TATE-0005,TANTO TERANG,208/22,...,NaN,NaN,2022-11-14 01:39,2022-11-14 01:39,2022-11-16 08:28,2.28,NaN,NaN,NaN,20221112C340892
3,4.0,DS,BMOU5455046,IM,GOT,NaN,V,TATE-0005,TANTO TERANG,208/22,...,NaN,NaN,2022-11-14 00:56,2022-11-14 00:56,2022-11-14 13:47,0.54,NaN,NaN,NaN,20221112C340899
4,5.0,DS,BMOU6014430,IM,GOT,NaN,V,TATE-0005,TANTO TERANG,208/22,...,NaN,NaN,2022-11-14 06:15,2022-11-14 06:15,2022-11-15 18:17,1.50,NaN,NaN,NaN,20221112C340952
5,6.0,DS,CAIU5220273,IM,GOT,NaN,V,TATE-0005,TANTO TERANG,208/22,...,NaN,NaN,2022-11-14 01:47,2022-11-14 01:47,2022-11-14 10:31,0.36,NaN,NaN,NaN,20221112C340722
6,7.0,DS,CICU8585990,IM,GOT,NaN,V,TATE-0005,TANTO TERANG,208/22,...,NaN,NaN,2022-11-14 07:44,2022-11-14 07:44,2022-11-15 08:42,1.04,NaN,NaN,NaN,20221112C340658
7,8.0,DS,CICU8587544,IM,GOT,NaN,V,TATE-0005,TANTO TERANG,208/22,...,NaN,NaN,2022-11-14 03:42,2022-11-14 03:42,2022-11-14 16:48,0.55,NaN,NaN,NaN,20221112C340781
8,9.0,DS,CICU8587950,IM,GOT,NaN,V,TATE-0005,TANTO TERANG,208/22,...,NaN,NaN,2022-11-14 09:42,2022-11-14 09:42,2022-11-14 21:15,0.48,NaN,NaN,NaN,20221112C340630
9,10.0,DS,CICU8589742,IM,GOT,NaN,V,TATE-0005,TANTO TERANG,208/22,...,NaN,NaN,2022-11-14 07:13,2022-11-14 07:13,2022-11-15 08:48,1.07,NaN,NaN,NaN,20221112C340668
10,11.0,DS,CICU8592704,IM,GOT,NaN,V,TATE-0005,TANTO TERANG,208/22,...,NaN,NaN,2022-11-14 08:33,2022-11-14 08:33,2022-11-15 13:56,1.22,NaN,NaN,NaN,20221112C340665
11,12.0,DS,CICU8593260,IM,GOT,NaN,V,TATE-0005,TANTO TERANG,208/22,...,NaN,NaN,2022-11-14 08:32,2022-11-14 08:32,2022-11-16 10:45,2.09,NaN,NaN,NaN,20221112C340703
12,13.0,DS,CICU8594749,IM,GOT,NaN,V,TATE-0005,TANTO TERANG,208/22,...,NaN,NaN,2022-11-14 06:42,2022-11-14 06:42,2022-11-15 15:10,1.35,NaN,NaN,NaN,20221112C340809
13,14.0,DS,CICU8595766,IM,GOT,NaN,V,TATE-0005,TANTO TERANG,208/22,...,NaN,NaN,2022-11-14 02:37,2022-11-14 02:37,2022-11-14 11:28,0.37,NaN,NaN,NaN,20221112C340818
14,15.0,DS,CICU8596130,IM,GOT,NaN,V,TATE-0005,TANTO TERANG,208/22,...,NaN,NaN,2022-11-14 04:10,2022-11-14 04:10,2022-11-16 11:53,2.32,NaN,NaN,NaN,20221112C340693
15,16.0,DS,CICU8596269,IM,GOT,NaN,V,TATE-0005,TANTO TERANG,208/22,...,NaN,NaN,2022-11-14 04:26,2022-11-14 04:26,2022-11-15 11:37,1.30,NaN,NaN,NaN,20221112C340785
16,17.0,DS,CICU8596280,IM,GOT,NaN,V,TATE-0005,TANTO TERANG,208/22,...,NaN,NaN,2022-11-14 03:27,2022-11-14 03:27,2022-11-15 13:55,1.44,NaN,NaN,NaN,20221112C340793
17,18.0,DS,CICU8597898,IM,GOT,NaN,V,TATE-0005,TANTO TERANG,208/22,...,NaN,NaN,2022-11-14 04:07,2022-11-14 04:07,2022-11-15 19:54,1.66,NaN,NaN,NaN,20221112C340697
18,19.0,DS,CICU8599252,IM,GOT,NaN,V,TATE-0005,TANTO TERANG,208/22,...,NaN,NaN,2022-11-14 07:38,2022-11-14 07:38,2022-11-16 13:41,2.25,NaN,NaN,NaN,20221112C340706
19,20.0,DS,CICU8599904,IM,GOT,NaN,V,TATE-0005,TANTO TERANG,208/22,...,NaN,NaN,2022-11-14 04:29,2022-11-14 04:29,2022-11-16 11:46,2.30,NaN,NaN,NaN,20221112C340761

**`Data Cleaning & Data Integration`**

In [ ]:
combined_df1 = combined_df.drop(['No.', 'Stowage', 'Op.Type', 'DS Plan', 'POW', 
                                'Position', 'Class', 'Out Crr.Type', 'Out Carrier',
                                'Thru', 'Direct', 'OPR', 'POR', 'POD', 'NPOD', 'FPOD',
                                'FDEST', 'B/L', 'LEN', 'WID', 'HGT', 'Type',
                                'VGM', 'Restow Type', 'Restow STWG','RF', 'DG', 'OOG',
                                'Temp.', 'C/F', 'UNNO', 'IMDG', 'OD F', 'OD B', 'OD L',
                                'OD R', 'OD H', 'Comb.', 'Sub STWG', 'TML Unit ID',
                                'Hatch IDX', 'Bay IDX', 'Row IDX', 'Tier IDX', 'Block'], axis =1)

In [ ]:
combined_df1.head()

         Cargo    POL   F/M Comm.   ISO UT       GW
0  BEAU2717678  IDJKT  FULL    GE  22G1  G   7000.0
1  BEAU2882522  IDJKT  FULL    GE  22G1  G   5000.0
2  BEAU5088814  IDJKT  FULL    GE  45G1  G  12000.0
3  BMOU5455046  IDJKT  FULL    GE  45G1  G  10000.0
4  BMOU6014430  IDJKT  FULL    GE  45G1  G  20000.0

In [ ]:
combined_df_terminal1 = combined_df_terminal.drop(['No.', 'Class',
                                                   'Position', 'POW',
                                                   'In Carrier ID', 'In Carrier Name', 
                                                   'In Carrier Voyage',
                                                   'Out Carrier ID', 'Out Carrier Name',
                                                   'Out Carrier Voyage', 'F/M',
                                                   'Comm.', 'ISO', 'OPR', 'POD',
                                                   'NPOD', 'FDEST','D/O', 'S/O',
                                                   'Movement Date','In Terminal', 'Out Terminal',
                                                   'Truck In','Truck Out', 'Service Type', 'Cargo ID'], axis =1)

In [ ]:
combined_df_terminal1.head()

  Move\nType        Cargo In TRSP\nType Out TRSP\nType  Length  Dwelling Time
0         DS  BEAU2717678             V              G    20.0           2.17
1         DS  BEAU2882522             V              G    20.0           3.36
2         DS  BEAU5088814             V              G    40.0           2.28
3         DS  BMOU5455046             V              G    40.0           0.54
4         DS  BMOU6014430             V              G    40.0           1.50

In [ ]:
combined_df_terminal2 = combined_df_terminal1.drop(combined_df_terminal1.columns[[0,2,3]], axis=1)

In [ ]:
combined_df_terminal2.head()

         Cargo  Length  Dwelling Time
0  BEAU2717678    20.0           2.17
1  BEAU2882522    20.0           3.36
2  BEAU5088814    40.0           2.28
3  BMOU5455046    40.0           0.54
4  BMOU6014430    40.0           1.50

In [ ]:
combined_df1 = combined_df1.reset_index().rename(columns={'Cargo': 'id'})
combined_df_terminal2 = combined_df_terminal2.reset_index().rename(columns={'Cargo': 'id'})

merge_dataset = pd.concat([combined_df1, combined_df_terminal2], axis=1)

In [ ]:
merge_dataset.head()

,index,id,POL,F/M,Comm.,ISO,UT,GW,index,id,Length,Dwelling Time
0,0.0,BEAU2717678,IDJKT,FULL,GE,22G1,G,7000.0,0,BEAU2717678,20.0,2.17
1,1.0,BEAU2882522,IDJKT,FULL,GE,22G1,G,5000.0,1,BEAU2882522,20.0,3.36
2,2.0,BEAU5088814,IDJKT,FULL,GE,45G1,G,12000.0,2,BEAU5088814,40.0,2.28
3,3.0,BMOU5455046,IDJKT,FULL,GE,45G1,G,10000.0,3,BMOU5455046,40.0,0.54
4,4.0,BMOU6014430,IDJKT,FULL,GE,45G1,G,20000.0,4,BMOU6014430,40.0,1.50

In [ ]:
merge_fix_data = merge_dataset.drop(merge_dataset.columns[[0,1,8,9]], axis =1)

In [ ]:
merge_fix_data.head()

     POL   F/M Comm.   ISO UT       GW  Length  Dwelling Time
0  IDJKT  FULL    GE  22G1  G   7000.0    20.0           2.17
1  IDJKT  FULL    GE  22G1  G   5000.0    20.0           3.36
2  IDJKT  FULL    GE  45G1  G  12000.0    40.0           2.28
3  IDJKT  FULL    GE  45G1  G  10000.0    40.0           0.54
4  IDJKT  FULL    GE  45G1  G  20000.0    40.0           1.50

**`Data`** **Exploration, Cleaning & Pre-Processing**

In [ ]:
dataset_new = merge_fix_data.rename(columns={'POL' : 'Pelabuhan Asal',
                                             'F/M' : 'Status Kontainer',
                                             'Comm.' : 'Komoditas',
                                             'Length' : 'Ukuran Kontainer',
                                             'GW' : 'Gross Kontainer',
                                             'UT' : 'Jenis Kontainer'})

In [ ]:
dataset_new.head()

,Pelabuhan Asal,Status Kontainer,Komoditas,ISO,Jenis Kontainer,Gross Kontainer,Ukuran Kontainer,Dwelling Time
0,IDJKT,FULL,GE,22G1,G,7000.0,20.0,2.17
1,IDJKT,FULL,GE,22G1,G,5000.0,20.0,3.36
2,IDJKT,FULL,GE,45G1,G,12000.0,40.0,2.28
3,IDJKT,FULL,GE,45G1,G,10000.0,40.0,0.54
4,IDJKT,FULL,GE,45G1,G,20000.0,40.0,1.50

In [ ]:
freqPelabuhanAsal = dataset_new['Pelabuhan Asal'].value_counts()

print(freqPelabuhanAsal)

IDSUB    1704
IDJKT    1514
Name: Pelabuhan Asal, dtype: int64

In [ ]:
freqStatus = dataset_new['Status Kontainer'].value_counts()

print(freqStatus)

FULL     3213
EMPTY       5
Name: Status Kontainer, dtype: int64

In [ ]:
freqKomoditas = dataset_new['Komoditas'].value_counts()

print(freqKomoditas)

GE    3107
RF      86
HZ      20
MT       5
Name: Komoditas, dtype: int64

In [ ]:
freqJenis = dataset_new['ISO'].value_counts()

print(freqJenis)

22G1    2279
45G1     774
2280      63
22R1      59
45R1      33
22T1       3
2200       2
21T0       2
4200       1
2270       1
L2G1       1
Name: ISO, dtype: int64

In [ ]:
freqGross = dataset_new['Gross Kontainer'].value_counts()

print(freqGross)

25000.0    83
24000.0    73
5000.0     71
20000.0    67
15000.0    66
           ..
14580.0     1
22340.0     1
21680.0     1
4860.0      1
6080.0      1
Name: Gross Kontainer, Length: 740, dtype: int64

In [ ]:
freqUkuran = dataset_new['Ukuran Kontainer'].value_counts()

print(freqUkuran)

20.0    2592
40.0     828
45.0       1
Name: Ukuran Kontainer, dtype: int64

In [ ]:
freqDw = dataset_new['Dwelling Time'].value_counts()

print(freqDw)

2.81    15
1.31    15
2.64    14
2.71    14
1.77    14
        ..
6.41     1
7.47     1
8.80     1
8.62     1
9.89     1
Name: Dwelling Time, Length: 862, dtype: int64

In [ ]:
freqJenK = dataset_new['Jenis Kontainer'].value_counts()

print(freqJenK)

G    3057
R      92
B      63
T       6
Name: Jenis Kontainer, dtype: int64

In [ ]:
#Hapus ISO Karena Beberapa kategori tidak sesuai aturan ISO
dataset_new_noISO = dataset_new.drop(['ISO'], axis =1)

In [ ]:
dataset_new_noISO.head()

,Pelabuhan Asal,Status Kontainer,Komoditas,Jenis Kontainer,Gross Kontainer,Ukuran Kontainer,Dwelling Time
0,IDJKT,FULL,GE,G,7000.0,20.0,2.17
1,IDJKT,FULL,GE,G,5000.0,20.0,3.36
2,IDJKT,FULL,GE,G,12000.0,40.0,2.28
3,IDJKT,FULL,GE,G,10000.0,40.0,0.54
4,IDJKT,FULL,GE,G,20000.0,40.0,1.50

In [ ]:
import numpy as np
#Buat Kategotisasi Gross
# LW dibawah 10 ton, HW dibawah 24 ton, VHW dibawah 30 ton, XHW diatas 30ton
dataset_new_noISO['Kategori Gross'] = np.where(dataset_new_noISO['Gross Kontainer']<10000.0, 'LW',
                                      np.where(dataset_new_noISO['Gross Kontainer']<24000.0, 'HW',
                                      np.where(dataset_new_noISO['Gross Kontainer']<30000.0, 'VWH',
                                      'XHW')))

In [ ]:
#Buat Kategotisasi Ukuran
dataset_new_noISO['Kategori Ukuran'] = np.where(dataset_new_noISO['Ukuran Kontainer']<=20.0, 'Ukuran1',
                                       np.where(dataset_new_noISO['Ukuran Kontainer']<=40.0, 'Ukuran2',
                                       np.where(dataset_new_noISO['Ukuran Kontainer']<=45.0, 'Ukuran3',
                                       'UkuranNew')))

In [ ]:
#Buat Kategotisasi Dwelling Time 1
# dataset_new_noISO['Kategori Dwelling Time'] = np.where(dataset_new_noISO['Dwelling Time']<=4.0, 'DT1',
#                                               np.where(dataset_new_noISO['Dwelling Time']<=7.0, 'DT2',
#                                               np.where(dataset_new_noISO['Dwelling Time']<=10.0, 'DT3',
#                                               np.where(dataset_new_noISO['Dwelling Time']<=20.0, 'DT4',
#                                               'DT5'))))

In [ ]:
#Buat Kategotisasi Dwelling Time 2
# dataset_new_noISO['Kategori Dwelling Time'] = np.where(dataset_new_noISO['Dwelling Time']<=1.0, 'DT1',
#                                               np.where(dataset_new_noISO['Dwelling Time']<=2.0, 'DT2',
#                                               np.where(dataset_new_noISO['Dwelling Time']<=3.0, 'DT3',
#                                               np.where(dataset_new_noISO['Dwelling Time']<=4.0, 'DT4',
#                                               np.where(dataset_new_noISO['Dwelling Time']<=5.0, 'DT5',
#                                               np.where(dataset_new_noISO['Dwelling Time']<=6.0, 'DT6',
#                                               np.where(dataset_new_noISO['Dwelling Time']<=7.0, 'DT7',
#                                               np.where(dataset_new_noISO['Dwelling Time']<=8.0, 'DT8',
#                                               np.where(dataset_new_noISO['Dwelling Time']<=9.0, 'DT9',
#                                               'D10')))))))))

In [ ]:
dataset_new_noISO['Kategori Dwelling Time'] = np.where(dataset_new_noISO['Dwelling Time']<=1.0, 'DT1',
                                              np.where(dataset_new_noISO['Dwelling Time']<=2.0, 'DT2',
                                              np.where(dataset_new_noISO['Dwelling Time']<=3.0, 'DT3',
                                              np.where(dataset_new_noISO['Dwelling Time']<=4.0, 'DT4',
                                              'DT5'))))

In [ ]:
dataset_new_noISO.head()

,Pelabuhan Asal,Status Kontainer,Komoditas,Jenis Kontainer,Gross Kontainer,Ukuran Kontainer,Dwelling Time,Kategori Gross,Kategori Ukuran,Kategori Dwelling Time
0,IDJKT,FULL,GE,G,7000.0,20.0,2.17,LW,Ukuran1,DT3
1,IDJKT,FULL,GE,G,5000.0,20.0,3.36,LW,Ukuran1,DT4
2,IDJKT,FULL,GE,G,12000.0,40.0,2.28,HW,Ukuran2,DT3
3,IDJKT,FULL,GE,G,10000.0,40.0,0.54,HW,Ukuran2,DT1
4,IDJKT,FULL,GE,G,20000.0,40.0,1.50,HW,Ukuran2,DT2

In [ ]:
dataset_new_noISO = dataset_new_noISO.drop(['Gross Kontainer', 
                                      'Ukuran Kontainer',
                                      'Dwelling Time'], axis =1)

In [ ]:
dataset_new_noISO.head()

,Pelabuhan Asal,Status Kontainer,Komoditas,Jenis Kontainer,Kategori Gross,Kategori Ukuran,Kategori Dwelling Time
0,IDJKT,FULL,GE,G,LW,Ukuran1,DT3
1,IDJKT,FULL,GE,G,LW,Ukuran1,DT4
2,IDJKT,FULL,GE,G,HW,Ukuran2,DT3
3,IDJKT,FULL,GE,G,HW,Ukuran2,DT1
4,IDJKT,FULL,GE,G,HW,Ukuran2,DT2

In [ ]:
freqKatGr = dataset_new_noISO['Kategori Gross'].value_counts()

print(freqKatGr)

HW     1233
XHW     947
VWH     664
LW      578
Name: Kategori Gross, dtype: int64

In [ ]:
freqKatUK = dataset_new_noISO['Kategori Ukuran'].value_counts()

print(freqKatUK)

Ukuran1      2592
Ukuran2       828
Ukuran3         1
UkuranNew       1
Name: Kategori Ukuran, dtype: int64

In [ ]:
freqKatDT = dataset_new_noISO['Kategori Dwelling Time'].value_counts()

print(freqKatDT)

DT5    930
DT2    710
DT3    687
DT4    569
DT1    526
Name: Kategori Dwelling Time, dtype: int64

In [ ]:
df_pre1 = dataset_new_noISO

In [ ]:
df_pre1.head()

,Pelabuhan Asal,Status Kontainer,Komoditas,Jenis Kontainer,Kategori Gross,Kategori Ukuran,Kategori Dwelling Time
0,IDJKT,FULL,GE,G,LW,Ukuran1,DT3
1,IDJKT,FULL,GE,G,LW,Ukuran1,DT4
2,IDJKT,FULL,GE,G,HW,Ukuran2,DT3
3,IDJKT,FULL,GE,G,HW,Ukuran2,DT1
4,IDJKT,FULL,GE,G,HW,Ukuran2,DT2

In [ ]:
# mengecek apakah ada nilai NaN di dalam DataFrame
print(df_pre1.isna().values.any())

# menampilkan jumlah nilai NaN pada setiap kolom
print(df_pre1.isna().sum())

True
Pelabuhan Asal            204
Status Kontainer          204
Komoditas                 204
Jenis Kontainer           204
Kategori Gross              0
Kategori Ukuran             0
Kategori Dwelling Time      0
dtype: int64

In [ ]:
# Mengecek keberadaan nilai null pada seluruh dataframe
null_df = df_pre1.isna()
print(null_df)

# Mengecek posisi nilai null pada setiap kolom
for col in null_df.columns:
    if null_df[col].any():
        print(f"Kolom {col} memiliki nilai null pada index berikut:")
        print(null_df.index[null_df[col]])

      Pelabuhan Asal  Status Kontainer  Komoditas  Jenis Kontainer  \
0              False             False      False            False
1              False             False      False            False
2              False             False      False            False
3              False             False      False            False
4              False             False      False            False
...              ...               ...        ...              ...
3417            True              True       True             True
3418            True              True       True             True
3419            True              True       True             True
3420            True              True       True             True
3421            True              True       True             True

      Kategori Gross  Kategori Ukuran  Kategori Dwelling Time
0              False            False                   False
1              False            False                   False
2              False            False                   False
3              False            False                   False
4              False            False                   False
...              ...              ...                     ...
3417           False            False                   False
3418           False            False                   False
3419           False            False                   False
3420           False            False                   False
3421           False            False                   False

[3422 rows x 7 columns]
Kolom Pelabuhan Asal memiliki nilai null pada index berikut:
Int64Index([1673, 3219, 3220, 3221, 3222, 3223, 3224, 3225, 3226, 3227,
            ...
            3412, 3413, 3414, 3415, 3416, 3417, 3418, 3419, 3420, 3421],
           dtype='int64', length=204)
Kolom Status Kontainer memiliki nilai null pada index berikut:
Int64Index([1673, 3219, 3220, 3221, 3222, 3223, 3224, 3225, 3226, 3227,
            ...
            3412, 3413, 3414, 3415, 3416, 3417, 3418, 3419, 3420, 3421],
           dtype='int64', length=204)
Kolom Komoditas memiliki nilai null pada index berikut:
Int64Index([1673, 3219, 3220, 3221, 3222, 3223, 3224, 3225, 3226, 3227,
            ...
            3412, 3413, 3414, 3415, 3416, 3417, 3418, 3419, 3420, 3421],
           dtype='int64', length=204)
Kolom Jenis Kontainer memiliki nilai null pada index berikut:
Int64Index([1673, 3219, 3220, 3221, 3222, 3223, 3224, 3225, 3226, 3227,
            ...
            3412, 3413, 3414, 3415, 3416, 3417, 3418, 3419, 3420, 3421],
           dtype='int64', length=204)

In [ ]:
#Semua Null Drop, karena posisinya sama
df_pre1.dropna(inplace=True)

**Hitung Kejadian**

In [ ]:
# importing module
import numpy as np
# Gather All Items of Each Transactions into Numpy Array
transaction = []
for i in range(0, df_pre1.shape[0]):
    for j in range(0, df_pre1.shape[1]):
        transaction.append(df_pre1.values[i,j])
# converting to numpy array
transaction = np.array(transaction)
print(transaction)

['IDJKT' 'FULL' 'GE' ... 'HW' 'Ukuran1' 'DT5']

In [ ]:
df_pre2 = pd.DataFrame(transaction, columns=["items"]) 
# Put 1 to Each Item For Making Countable Table, to be able to perform Group By
df_pre2["incident_count"] = 1 
#  Delete NaN Items from Dataset
indexNames = df_pre2[df_pre2['items'] == "nan" ].index
df_pre2.drop(indexNames , inplace=True)
# Making a New Appropriate Pandas DataFrame for Visualizations  
df_table = df_pre2.groupby("items").sum().sort_values("incident_count", ascending=False).reset_index()
#  Initial Visualizations
df_table.head(20).style.background_gradient(cmap='Blues')

In [ ]:
df_table.head(50).style.background_gradient(cmap='Blues')

In [ ]:
# importing required module
import plotly.express as px
# to have a same origin
df_table["all"] = "Top 50 items" 
# creating tree map using plotly
fig = px.treemap(df_table.head(50), path=['all', "items"], values='incident_count',
                  color=df_table["incident_count"].head(110), hover_data=['items'],
                  color_continuous_scale='Blues',
                )
# ploting the treemap
fig.show()

**Implementasi FP Growth**

In [ ]:
import pandas as pd

# Membaca file csv
df3 = df_pre1

# Mengonversi dataframe menjadi list
data = df3.values.tolist()

In [ ]:
!pip install anytree

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: anytree in /usr/local/lib/python3.8/dist-packages (2.8.0)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.8/dist-packages (from anytree) (1.15.0)

In [ ]:
from anytree import Node, RenderTree

# Definisi dataset
dataset = data

# Hitung support count untuk setiap item
item_counts = {}
for trans in dataset:
    for item in trans:
        if item in item_counts:
            item_counts[item] += 1
        else:
            item_counts[item] = 1

# Buat root node
root = Node('Root', count=0)

# Tambahkan setiap transaksi ke FP-Tree
for trans in dataset:
    curr_node = root
    for item in sorted(trans, key=lambda x: item_counts[x], reverse=True):
        found_child = False
        for child in curr_node.children:
            if child.name == item:
                child.count += 1
                curr_node = child
                found_child = True
                break
        if not found_child:
            new_node = Node(item, parent=curr_node, count=1)
            curr_node = new_node

# Tampilkan FP-Tree dalam bentuk tree diagram
for pre, fill, node in RenderTree(root):
    print(f"{pre}{node.name} ({node.count})")

Root (0)
├── FULL (3213)
│   ├── GE (3107)
│   │   ├── G (3040)
│   │   │   ├── Ukuran1 (2305)
│   │   │   │   ├── IDJKT (1032)
│   │   │   │   │   ├── DT3 (26)
│   │   │   │   │   │   └── LW (26)
│   │   │   │   │   ├── LW (99)
│   │   │   │   │   │   ├── DT4 (39)
│   │   │   │   │   │   └── DT1 (60)
│   │   │   │   │   ├── HW (332)
│   │   │   │   │   │   ├── DT2 (55)
│   │   │   │   │   │   ├── DT3 (74)
│   │   │   │   │   │   ├── DT1 (77)
│   │   │   │   │   │   ├── DT5 (66)
│   │   │   │   │   │   └── DT4 (60)
│   │   │   │   │   ├── DT2 (103)
│   │   │   │   │   │   ├── LW (61)
│   │   │   │   │   │   └── VWH (42)
│   │   │   │   │   ├── VWH (161)
│   │   │   │   │   │   ├── DT3 (61)
│   │   │   │   │   │   ├── DT4 (53)
│   │   │   │   │   │   └── DT1 (47)
│   │   │   │   │   ├── DT5 (197)
│   │   │   │   │   │   ├── LW (74)
│   │   │   │   │   │   ├── VWH (64)
│   │   │   │   │   │   └── XHW (59)
│   │   │   │   │   └── XHW (114)
│   │   │   │   │       ├── DT1 (15)
│   │   │   │   │       ├── DT2 (41)
│   │   │   │   │       ├── DT3 (36)
│   │   │   │   │       └── DT4 (22)
│   │   │   │   └── IDSUB (1273)
│   │   │   │       ├── DT5 (224)
│   │   │   │       │   ├── XHW (102)
│   │   │   │       │   ├── LW (65)
│   │   │   │       │   └── VWH (57)
│   │   │   │       ├── XHW (299)
│   │   │   │       │   ├── DT3 (142)
│   │   │   │       │   ├── DT4 (63)
│   │   │   │       │   ├── DT2 (90)
│   │   │   │       │   └── DT1 (4)
│   │   │   │       ├── VWH (107)
│   │   │   │       │   ├── DT1 (20)
│   │   │   │       │   ├── DT3 (38)
│   │   │   │       │   └── DT4 (49)
│   │   │   │       ├── HW (492)
│   │   │   │       │   ├── DT1 (85)
│   │   │   │       │   ├── DT5 (153)
│   │   │   │       │   ├── DT2 (105)
│   │   │   │       │   ├── DT3 (75)
│   │   │   │       │   └── DT4 (74)
│   │   │   │       ├── DT2 (74)
│   │   │   │       │   ├── LW (34)
│   │   │   │       │   └── VWH (40)
│   │   │   │       ├── DT3 (35)
│   │   │   │       │   └── LW (35)
│   │   │   │       └── LW (42)
│   │   │   │           ├── DT1 (13)
│   │   │   │           └── DT4 (29)
│   │   │   ├── IDJKT (385)
│   │   │   │   ├── HW (179)
│   │   │   │   │   ├── Ukuran2 (138)
│   │   │   │   │   │   ├── DT3 (17)
│   │   │   │   │   │   ├── DT1 (47)
│   │   │   │   │   │   ├── DT2 (40)
│   │   │   │   │   │   └── DT4 (34)
│   │   │   │   │   └── DT5 (41)
│   │   │   │   │       └── Ukuran2 (41)
│   │   │   │   ├── Ukuran2 (147)
│   │   │   │   │   ├── DT3 (10)
│   │   │   │   │   │   └── LW (10)
│   │   │   │   │   ├── LW (39)
│   │   │   │   │   │   ├── DT1 (31)
│   │   │   │   │   │   └── DT4 (8)
│   │   │   │   │   ├── VWH (34)
│   │   │   │   │   │   ├── DT3 (6)
│   │   │   │   │   │   ├── DT1 (14)
│   │   │   │   │   │   └── DT4 (14)
│   │   │   │   │   ├── DT2 (29)
│   │   │   │   │   │   ├── VWH (18)
│   │   │   │   │   │   └── LW (11)
│   │   │   │   │   └── XHW (35)
│   │   │   │   │       ├── DT3 (8)
│   │   │   │   │       ├── DT2 (15)
│   │   │   │   │       ├── DT1 (10)
│   │   │   │   │       └── DT4 (2)
│   │   │   │   ├── DT5 (58)
│   │   │   │   │   └── Ukuran2 (58)
│   │   │   │   │       ├── LW (8)
│   │   │   │   │       ├── VWH (27)
│   │   │   │   │       └── XHW (23)
│   │   │   │   └── VWH (1)
│   │   │   │       └── DT4 (1)
│   │   │   │           └── Ukuran3 (1)
│   │   │   └── IDSUB (350)
│   │   │       ├── HW (152)
│   │   │       │   ├── Ukuran2 (112)
│   │   │       │   │   ├── DT2 (40)
│   │   │       │   │   ├── DT3 (26)
│   │   │       │   │   ├── DT1 (24)
│   │   │       │   │   └── DT4 (22)
│   │   │       │   └── DT5 (40)
│   │   │       │       └── Ukuran2 (40)
│   │   │       ├── Ukuran2 (156)
│   │   │       │   ├── DT2 (40)
│   │   │       │   │   ├── LW (24)
│   │   │       │   │   └── VWH (16)
│   │   │       │   ├── XHW (54)
│   │   │       │   │   ├── DT4 (18)
│   │   │       │   │   ├── DT3 (22)
│   │   │       │   │   └── DT2 (14)
│   │   │       │   ├── VWH (32)
│   │   │       │   │   ├── DT3 (15)
│   │   │       │   │   ├── DT1 (9)
│   │   │       │   │   └── DT4 (8)
│   │   │       │   ├── DT3 (16)
│   │   │       │   │   └── LW (16)
│   │   │       │   └── LW (14)
│   │   │       │       ├── DT1 (8)
│   │   │       │       └── DT4 (6)
│   │   │       └── DT5 (42)
│   │   │           └── Ukuran2 (42)
│   │   │               ├── LW (8)
│   │   │               ├── XHW (16)
│   │   │               └── VWH (18)
│   │   ├── Ukuran1 (64)
│   │   │   ├── IDJKT (31)
│   │   │   │   ├── HW (11)
│   │   │   │   │   ├── DT1 (1)
│   │   │   │   │   │   └── B (1)
│   │   │   │   │   ├── DT3 (2)
│   │   │   │   │   │   └── B (2)
│   │   │   │   │   ├── DT2 (3)
│   │   │   │   │   │   └── B (3)
│   │   │   │   │   ├── DT5 (1)
│   │   │   │   │   │   └── B (1)
│   │   │   │   │   └── DT4 (4)
│   │   │   │   │       └── B (4)
│   │   │   │   ├── VWH (9)
│   │   │   │   │   ├── DT4 (6)
│   │   │   │   │   │   └── B (6)
│   │   │   │   │   ├── DT3 (2)
│   │   │   │   │   │   └── B (2)
│   │   │   │   │   └── DT1 (1)
│   │   │   │   │       └── B (1)
│   │   │   │   ├── DT5 (8)
│   │   │   │   │   ├── VWH (7)
│   │   │   │   │   │   └── B (7)
│   │   │   │   │   └── XHW (1)
│   │   │   │   │       └── B (1)
│   │   │   │   ├── DT3 (1)
│   │   │   │   │   └── LW (1)
│   │   │   │   │       └── B (1)
│   │   │   │   └── DT2 (2)
│   │   │   │       └── VWH (2)
│   │   │   │           └── B (2)
│   │   │   └── IDSUB (33)
│   │   │       ├── XHW (12)
│   │   │       │   ├── DT3 (8)
│   │   │       │   │   ├── T (1)
│   │   │       │   │   └── B (7)
│   │   │       │   ├── DT4 (3)
│   │   │       │   │   └── B (3)
│   │   │       │   └── DT2 (1)
│   │   │       │       └── B (1)
│   │   │       ├── DT5 (8)
│   │   │       │   ├── XHW (5)
│   │   │       │   │   ├── T (1)
│   │   │       │   │   └── B (4)
│   │   │       │   └── VWH (3)
│   │   │       │       └── B (3)
│   │   │       ├── DT2 (7)
│   │   │       │   ├── VWH (6)
│   │   │       │   │   └── B (6)
│   │   │       │   └── LW (1)
│   │   │       │       └── B (1)
│   │   │       ├── VWH (3)
│   │   │       │   ├── DT1 (1)
│   │   │       │   │   └── B (1)
│   │   │       │   ├── DT3 (1)
│   │   │       │   │   └── B (1)
│   │   │       │   └── DT4 (1)
│   │   │       │       └── B (1)
│   │   │       └── HW (3)
│   │   │           ├── DT4 (1)
│   │   │           │   └── B (1)
│   │   │           └── DT2 (2)
│   │   │               ├── B (1)
│   │   │               └── R (1)
│   │   └── IDSUB (3)
│   │       ├── HW (1)
│   │       │   └── Ukuran2 (1)
│   │       │       └── DT1 (1)
│   │       │           └── T (1)
│   │       ├── Ukuran2 (1)
│   │       │   └── VWH (1)
│   │       │       └── DT3 (1)
│   │       │           └── B (1)
│   │       └── DT5 (1)
│   │           └── Ukuran2 (1)
│   │               └── VWH (1)
│   │                   └── B (1)
│   ├── Ukuran1 (61)
│   │   ├── IDJKT (37)
│   │   │   ├── HW (28)
│   │   │   │   ├── DT1 (21)
│   │   │   │   │   └── R (21)
│   │   │   │   │       └── RF (21)
│   │   │   │   ├── DT5 (1)
│   │   │   │   │   └── R (1)
│   │   │   │   │       └── RF (1)
│   │   │   │   ├── DT3 (2)
│   │   │   │   │   └── R (2)
│   │   │   │   │       └── RF (2)
│   │   │   │   ├── DT2 (1)
│   │   │   │   │   └── R (1)
│   │   │   │   │       └── RF (1)
│   │   │   │   └── DT4 (3)
│   │   │   │       └── R (3)
│   │   │   │           └── RF (3)
│   │   │   ├── DT2 (1)
│   │   │   │   └── LW (1)
│   │   │   │       └── R (1)
│   │   │   │           └── RF (1)
│   │   │   ├── DT5 (4)
│   │   │   │   ├── XHW (3)
│   │   │   │   │   └── R (3)
│   │   │   │   │       └── RF (3)
│   │   │   │   └── LW (1)
│   │   │   │       └── R (1)
│   │   │   │           └── RF (1)
│   │   │   ├── LW (2)
│   │   │   │   ├── DT1 (1)
│   │   │   │   │   └── R (1)
│   │   │   │   │       └── RF (1)
│   │   │   │   └── DT4 (1)
│   │   │   │       └── R (1)
│   │   │   │           └── RF (1)
│   │   │   └── XHW (2)
│   │   │       ├── DT4 (1)
│   │   │       │   └── R (1)
│   │   │       │       └── RF (1)
│   │   │       └── DT3 (1)
│   │   │           └── R (1)
│   │   │               └── RF (1)
│   │   └── IDSUB (24)
│   │       ├── DT2 (1)
│   │       │   └── VWH (1)
│   │       │       └── HZ (1)
│   │       │           └── T (1)
│   │       ├── HW (11)
│   │       │   ├── DT5 (2)
│   │       │   │   └── R (2)
│   │       │   │       └── RF (2)
│   │       │   ├── DT1 (5)
│   │       │   │   └── R (5)
│   │       │   │       └── RF (5)
│   │       │   └── DT2 (4)
│   │       │       └── R (4)
│   │       │           └── RF (4)
│   │       ├── DT5 (2)
│   │       │   └── XHW (2)
│   │       │       └── R (2)
│   │       │           └── RF (2)
│   │       ├── VWH (2)
│   │       │   ├── DT1 (1)
│   │       │   │   └── HZ (1)
│   │       │   │       └── T (1)
│   │       │   └── DT4 (1)
│   │       │       └── R (1)
│   │       │           └── RF (1)
│   │       └── XHW (8)
│   │           ├── DT2 (4)
│   │           │   └── R (4)
│   │           │       └── RF (4)
│   │           ├── DT4 (1)
│   │           │   └── R (1)
│   │           │       └── RF (1)
│   │           └── DT3 (3)
│   │               └── R (3)
│   │                   └── RF (3)
│   ├── IDSUB (12)
│   │   ├── Ukuran2 (7)
│   │   │   ├── VWH (5)
│   │   │   │   ├── DT1 (4)
│   │   │   │   │   └── R (4)
│   │   │   │   │       └── RF (4)
│   │   │   │   └── DT3 (1)
│   │   │   │       └── R (1)
│   │   │   │           └── RF (1)
│   │   │   ├── LW (1)
│   │   │   │   └── DT1 (1)
│   │   │   │       └── R (1)
│   │   │   │           └── RF (1)
│   │   │   └── XHW (1)
│   │   │       └── DT2 (1)
│   │   │           └── R (1)
│   │   │               └── RF (1)
│   │   └── HW (5)
│   │       └── Ukuran2 (5)
│   │           ├── DT2 (3)
│   │           │   └── R (3)
│   │           │       └── RF (3)
│   │           ├── DT1 (1)
│   │           │   └── HZ (1)
│   │           │       └── T (1)
│   │           └── DT4 (1)
│   │               └── R (1)
│   │                   └── RF (1)
│   ├── G (17)
│   │   ├── Ukuran1 (11)
│   │   │   ├── IDSUB (9)
│   │   │   │   ├── XHW (1)
│   │   │   │   │   └── DT4 (1)
│   │   │   │   │       └── HZ (1)
│   │   │   │   ├── HW (7)
│   │   │   │   │   ├── DT2 (4)
│   │   │   │   │   │   └── HZ (4)
│   │   │   │   │   └── DT5 (3)
│   │   │   │   │       └── HZ (3)
│   │   │   │   └── DT5 (1)
│   │   │   │       └── LW (1)
│   │   │   │           └── HZ (1)
│   │   │   └── IDJKT (2)
│   │   │       ├── HW (1)
│   │   │       │   └── DT1 (1)
│   │   │       │       └── HZ (1)
│   │   │       └── DT5 (1)
│   │   │           └── LW (1)
│   │   │               └── HZ (1)
│   │   └── IDJKT (6)
│   │       ├── HW (3)
│   │       │   └── Ukuran2 (3)
│   │       │       └── DT1 (3)
│   │       │           └── HZ (3)
│   │       └── Ukuran2 (3)
│   │           ├── LW (2)
│   │           │   └── DT1 (2)
│   │           │       └── HZ (2)
│   │           └── DT2 (1)
│   │               └── LW (1)
│   │                   └── HZ (1)
│   └── IDJKT (16)
│       ├── Ukuran2 (5)
│       │   ├── VWH (4)
│       │   │   └── DT4 (4)
│       │   │       └── R (4)
│       │   │           └── RF (4)
│       │   └── XHW (1)
│       │       └── DT1 (1)
│       │           └── R (1)
│       │               └── RF (1)
│       ├── HW (8)
│       │   └── Ukuran2 (8)
│       │       ├── DT1 (5)
│       │       │   └── R (5)
│       │       │       └── RF (5)
│       │       └── DT2 (3)
│       │           └── R (3)
│       │               └── RF (3)
│       └── DT5 (3)
│           └── Ukuran2 (3)
│               └── VWH (3)
│                   └── R (3)
│                       └── RF (3)
└── Ukuran1 (5)
    └── IDJKT (5)
        ├── XHW (3)
        │   ├── DT4 (1)
        │   │   └── R (1)
        │   │       └── EMPTY (1)
        │   │           └── MT (1)
        │   └── DT2 (2)
        │       └── R (2)
        │           └── EMPTY (2)
        │               └── MT (2)
        └── DT5 (2)
            └── XHW (2)
                └── R (2)
                    └── EMPTY (2)
                        └── MT (2)

In [ ]:
#One-Hot Encoding
#Transform Every Transaction to Seperate List & Gather Them into Numpy Array
transaction = []
for i in range(df_pre1.shape[0]):
    transaction.append([str(df_pre1.values[i,j]) for j in range(df_pre1.shape[1])])
# creating the numpy array of the transactions
transaction = np.array(transaction)
# importing the required module
from mlxtend.preprocessing import TransactionEncoder
# initializing the transactionEncoder
te = TransactionEncoder()
te_ary = te.fit(transaction).transform(transaction)
dataset = pd.DataFrame(te_ary, columns=te.columns_)
# dataset after encoded
dataset.head()

,B,DT1,DT2,DT3,DT4,DT5,EMPTY,FULL,G,GE,...,LW,MT,R,RF,T,Ukuran1,Ukuran2,Ukuran3,VWH,XHW
0,False,False,False,True,False,False,False,True,True,True,...,True,False,False,False,False,True,False,False,False,False
1,False,False,False,False,True,False,False,True,True,True,...,True,False,False,False,False,True,False,False,False,False
2,False,False,False,True,False,False,False,True,True,True,...,False,False,False,False,False,False,True,False,False,False
3,False,True,False,False,False,False,False,True,True,True,...,False,False,False,False,False,False,True,False,False,False
4,False,False,True,False,False,False,False,True,True,True,...,False,False,False,False,False,False,True,False,False,False

In [ ]:
!pip install -U mlxtend

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mlxtend in /usr/local/lib/python3.8/dist-packages (0.21.0)
Requirement already satisfied: numpy>=1.16.2 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.22.4)
Requirement already satisfied: pandas>=0.24.2 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.3.5)
Requirement already satisfied: scikit-learn>=1.0.2 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.2.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: scipy>=1.2.1 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.10.1)
Requirement already satisfied: joblib>=0.13.2 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.2.0)
Requirement already satisfied: matplotlib>=3.0.0 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (3.5.3)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=3.0.0->mlxtend) (8.4.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=3.0.0->mlxtend) (23.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=3.0.0->mlxtend) (4.38.0)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.24.2->mlxtend) (2022.7.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=1.0.2->mlxtend) (3.1.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.15.0)

In [ ]:
#Importing Libraries
from mlxtend.frequent_patterns import fpgrowth
#running the fpgrowth algorithm
res1=fpgrowth(dataset,min_support=0.1, use_colnames=True)
# printing top 10
res1.head(20)

     support       itemsets
0   0.998446         (FULL)
1   0.965507           (GE)
2   0.949969            (G)
3   0.760099      (Ukuran1)
4   0.470479        (IDJKT)
5   0.195463          (DT3)
6   0.179615           (LW)
7   0.165009          (DT4)
8   0.383157           (HW)
9   0.239590      (Ukuran2)
10  0.159727          (DT1)
11  0.213176          (DT2)
12  0.206339          (VWH)
13  0.266625          (DT5)
14  0.230889          (XHW)
15  0.529521        (IDSUB)
16  0.965507     (FULL, GE)
17  0.949969      (FULL, G)
18  0.944686        (GE, G)
19  0.944686  (FULL, GE, G)

In [ ]:
res1.shape

(327, 2)

In [ ]:
# importing required module
from mlxtend.frequent_patterns import association_rules
# creating asssociation rules
res=association_rules(res1, metric="lift", min_threshold=1)
# printing association rules
res

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(FULL),(GE),0.998446,0.965507,0.965507,0.967009,1.001556,0.001500,1.045543
1,(GE),(FULL),0.965507,0.998446,0.965507,1.000000,1.001556,0.001500,inf
2,(FULL),(G),0.998446,0.949969,0.949969,0.951447,1.001556,0.001476,1.030448
3,(G),(FULL),0.949969,0.998446,0.949969,1.000000,1.001556,0.001476,inf
4,(GE),(G),0.965507,0.949969,0.944686,0.978436,1.029966,0.027485,2.320098
...,...,...,...,...,...,...,...,...,...
2495,"(GE, G)","(IDSUB, FULL)",0.944686,0.529521,0.504351,0.533882,1.008234,0.004119,1.009354
2496,(IDSUB),"(FULL, GE, G)",0.529521,0.944686,0.504351,0.952465,1.008234,0.004119,1.163640
2497,(FULL),"(IDSUB, GE, G)",0.998446,0.504351,0.504351,0.505135,1.001556,0.000784,1.001586
2498,(GE),"(IDSUB, FULL, G)",0.965507,0.507147,0.504351,0.522369,1.030014,0.014697,1.031869
2499,(G),"(IDSUB, FULL, GE)",0.949969,0.515538,0.504351,0.530913,1.029823,0.014606,1.032777

In [ ]:
# filtering consequents with specific variable
contain_values = res[res['consequents'].astype(str).str.contains('DT1')]
contain_values

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1220,(FULL),(DT1),0.998446,0.159727,0.159727,0.159975,1.001556,0.000248,1.000296
1222,(IDJKT),(DT1),0.470479,0.159727,0.104723,0.222589,1.393564,0.029576,1.080862
1225,(FULL),"(G, DT1)",0.998446,0.146053,0.146053,0.146281,1.001556,0.000227,1.000266
1227,(FULL),"(GE, DT1)",0.998446,0.145432,0.145432,0.145658,1.001556,0.000226,1.000265
1230,(GE),"(G, DT1)",0.965507,0.146053,0.144189,0.149340,1.022504,0.003173,1.003864
1231,(G),"(GE, DT1)",0.949969,0.145432,0.144189,0.151783,1.043669,0.006033,1.007487
1235,"(FULL, GE)","(G, DT1)",0.965507,0.146053,0.144189,0.149340,1.022504,0.003173,1.003864
1236,"(FULL, G)","(GE, DT1)",0.949969,0.145432,0.144189,0.151783,1.043669,0.006033,1.007487
1239,(FULL),"(GE, G, DT1)",0.998446,0.144189,0.144189,0.144413,1.001556,0.000224,1.000262
1240,(GE),"(FULL, G, DT1)",0.965507,0.146053,0.144189,0.149340,1.022504,0.003173,1.003864
1241,(G),"(FULL, GE, DT1)",0.949969,0.145432,0.144189,0.151783,1.043669,0.006033,1.007487
1242,"(FULL, IDJKT)",(DT1),0.468925,0.159727,0.104723,0.223327,1.398182,0.029824,1.081888
1245,(FULL),"(IDJKT, DT1)",0.998446,0.104723,0.104723,0.104886,1.001556,0.000163,1.000182
1246,(IDJKT),"(FULL, DT1)",0.470479,0.159727,0.104723,0.222589,1.393564,0.029576,1.080862
1249,(FULL),"(DT1, Ukuran1)",0.998446,0.109695,0.109695,0.109866,1.001556,0.000170,1.000192
1251,(FULL),"(DT1, GE, Ukuran1)",0.998446,0.100684,0.100684,0.100840,1.001556,0.000156,1.000174
1253,(FULL),"(G, Ukuran1, DT1)",0.998446,0.100062,0.100062,0.100218,1.001556,0.000155,1.000173

In [ ]:
# filtering consequents with specific variable
contain_values2 = res[res['consequents'].astype(str).str.contains('DT2')]
contain_values2

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1254,(IDSUB),(DT2),0.529521,0.213176,0.121193,0.228873,1.073636,0.008312,1.020356
1258,(FULL),"(GE, DT2)",0.998446,0.205407,0.205407,0.205727,1.001556,0.000319,1.000402
1259,(GE),"(FULL, DT2)",0.965507,0.212554,0.205407,0.212745,1.000899,0.000184,1.000243
1262,(FULL),"(DT2, G)",0.998446,0.202300,0.202300,0.202614,1.001556,0.000314,1.000395
1263,(G),"(FULL, DT2)",0.949969,0.212554,0.202300,0.212954,1.001879,0.000380,1.000508
1266,(GE),"(DT2, G)",0.965507,0.202300,0.200746,0.207918,1.027771,0.005424,1.007093
1267,(G),"(GE, DT2)",0.949969,0.205407,0.200746,0.211318,1.028778,0.005615,1.007495
1271,"(FULL, GE)","(DT2, G)",0.965507,0.202300,0.200746,0.207918,1.027771,0.005424,1.007093
1272,"(FULL, G)","(GE, DT2)",0.949969,0.205407,0.200746,0.211318,1.028778,0.005615,1.007495
1275,(FULL),"(GE, DT2, G)",0.998446,0.200746,0.200746,0.201058,1.001556,0.000312,1.000391
1276,(GE),"(FULL, DT2, G)",0.965507,0.202300,0.200746,0.207918,1.027771,0.005424,1.007093
1277,(G),"(FULL, GE, DT2)",0.949969,0.205407,0.200746,0.211318,1.028778,0.005615,1.007495
1279,(GE),"(DT2, Ukuran1)",0.965507,0.155376,0.150093,0.155455,1.000511,0.000077,1.000094
1282,"(FULL, GE)","(DT2, Ukuran1)",0.965507,0.155376,0.150093,0.155455,1.000511,0.000077,1.000094
1284,(FULL),"(GE, DT2, Ukuran1)",0.998446,0.150093,0.150093,0.150327,1.001556,0.000233,1.000275
1285,(GE),"(FULL, DT2, Ukuran1)",0.965507,0.154755,0.150093,0.155455,1.004529,0.000677,1.000830
1287,(FULL),"(G, DT2, Ukuran1)",0.998446,0.146675,0.146675,0.146903,1.001556,0.000228,1.000268
1290,(GE),"(G, DT2, Ukuran1)",0.965507,0.146675,0.145432,0.150628,1.026948,0.003816,1.004654
1291,(G),"(GE, DT2, Ukuran1)",0.949969,0.150093,0.145432,0.153091,1.019975,0.002848,1.003540
1297,"(FULL, GE)","(G, DT2, Ukuran1)",0.965507,0.146675,0.145432,0.150628,1.026948,0.003816,1.004654
1298,"(FULL, G)","(GE, DT2, Ukuran1)",0.949969,0.150093,0.145432,0.153091,1.019975,0.002848,1.003540
1299,(GE),"(FULL, G, DT2, Ukuran1)",0.965507,0.146675,0.145432,0.150628,1.026948,0.003816,1.004654
1300,(FULL),"(GE, G, DT2, Ukuran1)",0.998446,0.145432,0.145432,0.145658,1.001556,0.000226,1.000265
1301,(G),"(FULL, GE, DT2, Ukuran1)",0.949969,0.150093,0.145432,0.153091,1.019975,0.002848,1.003540
1302,"(IDSUB, FULL)",(DT2),0.529521,0.213176,0.121193,0.228873,1.073636,0.008312,1.020356
1305,(IDSUB),"(FULL, DT2)",0.529521,0.212554,0.121193,0.228873,1.076775,0.008641,1.021162
1306,(FULL),"(IDSUB, DT2)",0.998446,0.121193,0.121193,0.121382,1.001556,0.000188,1.000215
1308,"(IDSUB, GE)",(DT2),0.515538,0.213176,0.115911,0.224834,1.054689,0.006010,1.015040
1310,(IDSUB),"(GE, DT2)",0.529521,0.205407,0.115911,0.218897,1.065673,0.007143,1.017270
1312,"(IDSUB, G)",(DT2),0.507147,0.213176,0.114046,0.224877,1.054892,0.005934,1.015096
1314,(IDSUB),"(DT2, G)",0.529521,0.202300,0.114046,0.215376,1.064637,0.006924,1.016665
1316,"(IDSUB, FULL, GE)",(DT2),0.515538,0.213176,0.115911,0.224834,1.054689,0.006010,1.015040
1319,"(IDSUB, FULL)","(GE, DT2)",0.529521,0.205407,0.115911,0.218897,1.065673,0.007143,1.017270
1320,"(IDSUB, GE)","(FULL, DT2)",0.515538,0.212554,0.115911,0.224834,1.057773,0.006331,1.015842
1323,(IDSUB),"(FULL, GE, DT2)",0.529521,0.205407,0.115911,0.218897,1.065673,0.007143,1.017270
1324,(FULL),"(IDSUB, GE, DT2)",0.998446,0.115911,0.115911,0.116091,1.001556,0.000180,1.000204
1326,"(IDSUB, FULL, G)",(DT2),0.507147,0.213176,0.114046,0.224877,1.054892,0.005934,1.015096
1329,"(IDSUB, FULL)","(DT2, G)",0.529521,0.202300,0.114046,0.215376,1.064637,0.006924,1.016665
1330,"(IDSUB, G)","(FULL, DT2)",0.507147,0.212554,0.114046,0.224877,1.057976,0.006250,1.015898
1333,(IDSUB),"(FULL, DT2, G)",0.529521,0.202300,0.114046,0.215376,1.064637,0.006924,1.016665
1334,(FULL),"(IDSUB, DT2, G)",0.998446,0.114046,0.114046,0.114223,1.001556,0.000177,1.000200
1337,"(IDSUB, GE, G)",(DT2),0.504351,0.213176,0.112803,0.223660,1.049180,0.005288,1.013504
1340,"(IDSUB, GE)","(DT2, G)",0.515538,0.202300,0.112803,0.218807,1.081597,0.008510,1.021130
1341,"(IDSUB, G)","(GE, DT2)",0.507147,0.205407,0.112803,0.222426,1.082857,0.008631,1.021888
1344,(IDSUB),"(GE, DT2, G)",0.529521,0.200746,0.112803,0.213028,1.061184,0.006504,1.015607
1345,(GE),"(IDSUB, DT2, G)",0.965507,0.114046,0.112803,0.116833,1.024437,0.002691,1.003156
1347,(G),"(IDSUB, GE, DT2)",0.949969,0.115911,0.112803,0.118744,1.024444,0.002692,1.003215
1349,"(FULL, IDSUB, GE, G)",(DT2),0.504351,0.213176,0.112803,0.223660,1.049180,0.005288,1.013504
1353,"(FULL, IDSUB, GE)","(DT2, G)",0.515538,0.202300,0.112803,0.218807,1.081597,0.008510,1.021130
1356,"(IDSUB, GE, G)","(FULL, DT2)",0.504351,0.212554,0.112803,0.223660,1.052248,0.005601,1.014305
1358,"(FULL, IDSUB, G)","(GE, DT2)",0.507147,0.205407,0.112803,0.222426,1.082857,0.008631,1.021888
1361,"(FULL, GE)","(IDSUB, DT2, G)",0.965507,0.114046,0.112803,0.116833,1.024437,0.002691,1.003156
1362,"(IDSUB, GE)","(FULL, DT2, G)",0.515538,0.202300,0.112803,0.218807,1.081597,0.008510,1.021130
1364,"(FULL, IDSUB)","(GE, DT2, G)",0.529521,0.200746,0.112803,0.213028,1.061184,0.006504,1.015607
1366,"(FULL, G)","(IDSUB, GE, DT2)",0.949969,0.115911,0.112803,0.118744,1.024444,0.002692,1.003215
1367,"(IDSUB, G)","(FULL, GE, DT2)",0.507147,0.205407,0.112803,0.222426,1.082857,0.008631,1.021888
1369,(GE),"(FULL, IDSUB, DT2, G)",0.965507,0.114046,0.112803,0.116833,1.024437,0.002691,1.003156
1370,(FULL),"(IDSUB, GE, DT2, G)",0.998446,0.112803,0.112803,0.112979,1.001556,0.000175,1.000198
1371,(IDSUB),"(FULL, GE, DT2, G)",0.529521,0.200746,0.112803,0.213028,1.061184,0.006504,1.015607
1373,(G),"(FULL, IDSUB, GE, DT2)",0.949969,0.115911,0.112803,0.118744,1.024444,0.002692,1.003215

In [ ]:
# filtering consequents with specific variable
contain_values3 = res[res['consequents'].astype(str).str.contains('DT3')]
contain_values3

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
73,(FULL),(DT3),0.998446,0.195463,0.195463,0.195767,1.001556,0.000304,1.000378
75,(GE),(DT3),0.965507,0.195463,0.193288,0.200193,1.024199,0.004567,1.005914
77,(G),(DT3),0.949969,0.195463,0.188626,0.198561,1.015848,0.002943,1.003865
79,(Ukuran1),(DT3),0.760099,0.195463,0.157551,0.207277,1.060442,0.008980,1.014903
81,(IDSUB),(DT3),0.529521,0.195463,0.119018,0.224765,1.149912,0.015516,1.037798
...,...,...,...,...,...,...,...,...,...
287,"(IDSUB, G)","(FULL, DT3, GE)",0.507147,0.193288,0.114667,0.226103,1.169774,0.016642,1.042403
289,(GE),"(FULL, DT3, IDSUB, G)",0.965507,0.114667,0.114667,0.118764,1.035726,0.003955,1.004649
290,(FULL),"(IDSUB, DT3, GE, G)",0.998446,0.114667,0.114667,0.114846,1.001556,0.000178,1.000202
291,(IDSUB),"(FULL, DT3, GE, G)",0.529521,0.188626,0.114667,0.216549,1.148032,0.014786,1.035641
293,(G),"(FULL, IDSUB, GE, DT3)",0.949969,0.117775,0.114667,0.120707,1.024891,0.002785,1.003334

In [ ]:
# filtering consequents with specific variable
contain_values4 = res[res['consequents'].astype(str).str.contains('DT4')]
contain_values4

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
516,(GE),(DT4),0.965507,0.165009,0.160659,0.166398,1.008419,0.001341,1.001666
519,(Ukuran1),(DT4),0.760099,0.165009,0.128341,0.168847,1.023258,0.002917,1.004617
520,"(FULL, GE)",(DT4),0.965507,0.165009,0.160659,0.166398,1.008419,0.001341,1.001666
523,(FULL),"(GE, DT4)",0.998446,0.160659,0.160659,0.160909,1.001556,0.000250,1.000298
524,(GE),"(FULL, DT4)",0.965507,0.164699,0.160659,0.166398,1.010321,0.001641,1.002039
527,(FULL),"(DT4, G)",0.998446,0.156308,0.156308,0.156552,1.001556,0.000243,1.000288
529,"(GE, G)",(DT4),0.944686,0.165009,0.155998,0.165132,1.000741,0.000115,1.000146
531,(GE),"(DT4, G)",0.965507,0.156308,0.155998,0.161571,1.033667,0.005081,1.006276
533,(G),"(GE, DT4)",0.949969,0.160659,0.155998,0.164213,1.022124,0.003377,1.004253
535,"(FULL, GE, G)",(DT4),0.944686,0.165009,0.155998,0.165132,1.000741,0.000115,1.000146
538,"(FULL, GE)","(DT4, G)",0.965507,0.156308,0.155998,0.161571,1.033667,0.005081,1.006276
540,"(FULL, G)","(GE, DT4)",0.949969,0.160659,0.155998,0.164213,1.022124,0.003377,1.004253
542,"(GE, G)","(FULL, DT4)",0.944686,0.164699,0.155998,0.165132,1.002629,0.000409,1.000519
544,(FULL),"(GE, DT4, G)",0.998446,0.155998,0.155998,0.156240,1.001556,0.000242,1.000288
545,(GE),"(FULL, DT4, G)",0.965507,0.156308,0.155998,0.161571,1.033667,0.005081,1.006276
547,(G),"(FULL, GE, DT4)",0.949969,0.160659,0.155998,0.164213,1.022124,0.003377,1.004253
549,"(FULL, Ukuran1)",(DT4),0.758546,0.165009,0.128030,0.168783,1.022871,0.002863,1.004540
551,(Ukuran1),"(FULL, DT4)",0.760099,0.164699,0.128030,0.168438,1.022706,0.002843,1.004497
553,"(GE, Ukuran1)",(DT4),0.736172,0.165009,0.125544,0.170536,1.033494,0.004069,1.006663
555,(GE),"(DT4, Ukuran1)",0.965507,0.128341,0.125544,0.130029,1.013155,0.001630,1.001941
557,(Ukuran1),"(GE, DT4)",0.760099,0.160659,0.125544,0.165168,1.028065,0.003427,1.005401
559,"(G, Ukuran1)",(DT4),0.719702,0.165009,0.121193,0.168394,1.020511,0.002436,1.004070
561,(Ukuran1),"(DT4, G)",0.760099,0.156308,0.121193,0.159444,1.020061,0.002383,1.003731
563,"(FULL, GE, Ukuran1)",(DT4),0.736172,0.165009,0.125544,0.170536,1.033494,0.004069,1.006663
566,"(FULL, GE)","(DT4, Ukuran1)",0.965507,0.128341,0.125544,0.130029,1.013155,0.001630,1.001941
568,"(FULL, Ukuran1)","(GE, DT4)",0.758546,0.160659,0.125544,0.165506,1.030170,0.003677,1.005808
570,"(GE, Ukuran1)","(FULL, DT4)",0.736172,0.164699,0.125544,0.170536,1.035444,0.004297,1.007038
572,(FULL),"(GE, DT4, Ukuran1)",0.998446,0.125544,0.125544,0.125739,1.001556,0.000195,1.000223
573,(GE),"(FULL, DT4, Ukuran1)",0.965507,0.128030,0.125544,0.130029,1.015615,0.001930,1.002298
575,(Ukuran1),"(FULL, GE, DT4)",0.760099,0.160659,0.125544,0.165168,1.028065,0.003427,1.005401
577,"(FULL, G, Ukuran1)",(DT4),0.719702,0.165009,0.121193,0.168394,1.020511,0.002436,1.004070
580,"(FULL, Ukuran1)","(DT4, G)",0.758546,0.156308,0.121193,0.159771,1.022151,0.002626,1.004121
582,"(G, Ukuran1)","(FULL, DT4)",0.719702,0.164699,0.121193,0.168394,1.022436,0.002659,1.004443
583,(FULL),"(G, DT4, Ukuran1)",0.998446,0.121193,0.121193,0.121382,1.001556,0.000188,1.000215
585,(Ukuran1),"(FULL, DT4, G)",0.760099,0.156308,0.121193,0.159444,1.020061,0.002383,1.003731
588,"(GE, G, Ukuran1)",(DT4),0.716283,0.165009,0.120883,0.168764,1.022752,0.002689,1.004516
591,"(GE, Ukuran1)","(DT4, G)",0.736172,0.156308,0.120883,0.164204,1.050516,0.005813,1.009447
593,"(G, Ukuran1)","(GE, DT4)",0.719702,0.160659,0.120883,0.167962,1.045458,0.005256,1.008777
594,(GE),"(G, DT4, Ukuran1)",0.965507,0.121193,0.120883,0.125201,1.033070,0.003870,1.004581
596,(Ukuran1),"(GE, DT4, G)",0.760099,0.155998,0.120883,0.159035,1.019472,0.002309,1.003612
597,(G),"(GE, DT4, Ukuran1)",0.949969,0.125544,0.120883,0.127249,1.013582,0.001620,1.001954
599,"(FULL, GE, G, Ukuran1)",(DT4),0.716283,0.165009,0.120883,0.168764,1.022752,0.002689,1.004516
603,"(FULL, GE, Ukuran1)","(DT4, G)",0.736172,0.156308,0.120883,0.164204,1.050516,0.005813,1.009447
606,"(GE, G, Ukuran1)","(FULL, DT4)",0.716283,0.164699,0.120883,0.168764,1.024681,0.002912,1.004890
608,"(FULL, G, Ukuran1)","(GE, DT4)",0.719702,0.160659,0.120883,0.167962,1.045458,0.005256,1.008777
611,"(FULL, GE)","(G, DT4, Ukuran1)",0.965507,0.121193,0.120883,0.125201,1.033070,0.003870,1.004581
612,"(GE, Ukuran1)","(FULL, DT4, G)",0.736172,0.156308,0.120883,0.164204,1.050516,0.005813,1.009447
614,"(FULL, Ukuran1)","(GE, DT4, G)",0.758546,0.155998,0.120883,0.159361,1.021561,0.002551,1.004001
616,"(FULL, G)","(GE, DT4, Ukuran1)",0.949969,0.125544,0.120883,0.127249,1.013582,0.001620,1.001954
617,"(G, Ukuran1)","(FULL, GE, DT4)",0.719702,0.160659,0.120883,0.167962,1.045458,0.005256,1.008777
619,(GE),"(FULL, G, DT4, Ukuran1)",0.965507,0.121193,0.120883,0.125201,1.033070,0.003870,1.004581
620,(FULL),"(GE, G, DT4, Ukuran1)",0.998446,0.120883,0.120883,0.121071,1.001556,0.000188,1.000214
621,(Ukuran1),"(FULL, GE, DT4, G)",0.760099,0.155998,0.120883,0.159035,1.019472,0.002309,1.003612
623,(G),"(FULL, GE, DT4, Ukuran1)",0.949969,0.125544,0.120883,0.127249,1.013582,0.001620,1.001954

In [ ]:
# filtering consequents with specific variable
contain_values5 = res[res['consequents'].astype(str).str.contains('DT5')]
contain_values5

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1538,(GE),(DT5),0.965507,0.266625,0.260721,0.270035,1.012790,0.003293,1.004672
1541,(G),(DT5),0.949969,0.266625,0.256681,0.270200,1.013406,0.003395,1.004898
1543,(Ukuran1),(DT5),0.760099,0.266625,0.209136,0.275143,1.031947,0.006474,1.011751
1544,(IDSUB),(DT5),0.529521,0.266625,0.147918,0.279343,1.047698,0.006734,1.017647
1546,"(FULL, GE)",(DT5),0.965507,0.266625,0.260721,0.270035,1.012790,0.003293,1.004672
...,...,...,...,...,...,...,...,...,...
1985,"(IDSUB, G)","(FULL, GE, DT5)",0.507147,0.260721,0.142635,0.281250,1.078740,0.010411,1.028562
1987,(GE),"(FULL, IDSUB, G, DT5)",0.965507,0.143878,0.142635,0.147731,1.026778,0.003720,1.004521
1988,(FULL),"(IDSUB, GE, G, DT5)",0.998446,0.142635,0.142635,0.142857,1.001556,0.000222,1.000259
1989,(IDSUB),"(FULL, GE, G, DT5)",0.529521,0.255127,0.142635,0.269366,1.055811,0.007540,1.019488
1991,(G),"(FULL, IDSUB, GE, DT5)",0.949969,0.145432,0.142635,0.150147,1.032422,0.004479,1.005548

In [ ]:
# # filtering consequents with specific variable
# contain_values6 = res[res['consequents'].astype(str).str.contains('DT6')]
# contain_values6

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, leverage, conviction]
Index: []

In [ ]:
# # filtering consequents with specific variable
# contain_values7 = res[res['consequents'].astype(str).str.contains('DT6')]
# contain_values7

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, leverage, conviction]
Index: []

In [ ]:
# # filtering consequents with specific variable
# contain_values10 = res[res['consequents'].astype(str).str.contains('DT10')]
# contain_values10

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, leverage, conviction]
Index: []

In [ ]:
df_res = res.sort_values(['lift'],ascending=False)

In [ ]:
df_res

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
2290,"(IDSUB, GE, Ukuran1)","(XHW, G)",0.405842,0.218459,0.124612,0.307044,1.405503,0.035952,1.127838
2336,"(IDSUB, GE, Ukuran1)","(FULL, XHW, G)",0.405842,0.218459,0.124612,0.307044,1.405503,0.035952,1.127838
2319,"(FULL, IDSUB, GE, Ukuran1)","(XHW, G)",0.405842,0.218459,0.124612,0.307044,1.405503,0.035952,1.127838
2362,"(XHW, G)","(FULL, IDSUB, GE, Ukuran1)",0.218459,0.405842,0.124612,0.570413,1.405503,0.035952,1.383089
2345,"(FULL, XHW, G)","(IDSUB, GE, Ukuran1)",0.218459,0.405842,0.124612,0.570413,1.405503,0.035952,1.383089
...,...,...,...,...,...,...,...,...,...
932,(GE),"(IDSUB, FULL, HW)",0.965507,0.208515,0.201367,0.208561,1.000224,0.000045,1.000059
2012,(XHW),"(GE, G)",0.230889,0.944686,0.218148,0.944818,1.000140,0.000031,1.002395
2009,"(GE, G)",(XHW),0.944686,0.230889,0.218148,0.230921,1.000140,0.000031,1.000042
2026,(XHW),"(FULL, GE, G)",0.230889,0.944686,0.218148,0.944818,1.000140,0.000031,1.002395
2015,"(FULL, GE, G)",(XHW),0.944686,0.230889,0.218148,0.230921,1.000140,0.000031,1.000042

In [ ]:
df_resConf = res.sort_values(['confidence'],ascending=False)
df_resConf

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1250,"(DT1, GE, Ukuran1)",(FULL),0.100684,0.998446,0.100684,1.000000,1.001556,0.000156,inf
1491,"(VWH, IDJKT, G)",(FULL),0.107831,0.998446,0.107831,1.000000,1.001556,0.000168,inf
1677,"(G, IDJKT, DT5)",(FULL),0.112803,0.998446,0.112803,1.000000,1.001556,0.000175,inf
988,"(Ukuran2, G)",(FULL),0.229956,0.998446,0.229956,1.000000,1.001556,0.000357,inf
1671,"(GE, IDJKT, DT5)",(FULL),0.115289,0.998446,0.115289,1.000000,1.001556,0.000179,inf
...,...,...,...,...,...,...,...,...,...
1180,(FULL),"(Ukuran2, GE, G, HW)",0.998446,0.102859,0.102859,0.103019,1.001556,0.000160,1.000178
468,(FULL),"(GE, LW, IDJKT)",0.998446,0.102237,0.102237,0.102397,1.001556,0.000159,1.000177
513,(FULL),"(GE, LW, IDJKT, G)",0.998446,0.101927,0.101927,0.102085,1.001556,0.000158,1.000177
1251,(FULL),"(DT1, GE, Ukuran1)",0.998446,0.100684,0.100684,0.100840,1.001556,0.000156,1.000174
1253,(FULL),"(G, Ukuran1, DT1)",0.998446,0.100062,0.100062,0.100218,1.001556,0.000155,1.000173

In [ ]:
df_resSp = res.sort_values(['support'],ascending=False)
df_resSp

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(FULL),(GE),0.998446,0.965507,0.965507,0.967009,1.001556,0.001500,1.045543
1,(GE),(FULL),0.965507,0.998446,0.965507,1.000000,1.001556,0.001500,inf
2,(FULL),(G),0.998446,0.949969,0.949969,0.951447,1.001556,0.001476,1.030448
3,(G),(FULL),0.949969,0.998446,0.949969,1.000000,1.001556,0.001476,inf
4,(GE),(G),0.965507,0.949969,0.944686,0.978436,1.029966,0.027485,2.320098
...,...,...,...,...,...,...,...,...,...
475,"(LW, IDJKT, G)",(GE),0.103170,0.965507,0.101927,0.987952,1.023247,0.002316,2.862958
1251,(FULL),"(DT1, GE, Ukuran1)",0.998446,0.100684,0.100684,0.100840,1.001556,0.000156,1.000174
1250,"(DT1, GE, Ukuran1)",(FULL),0.100684,0.998446,0.100684,1.000000,1.001556,0.000156,inf
1252,"(G, Ukuran1, DT1)",(FULL),0.100062,0.998446,0.100062,1.000000,1.001556,0.000155,inf
1253,(FULL),"(G, Ukuran1, DT1)",0.998446,0.100062,0.100062,0.100218,1.001556,0.000155,1.000173

In [ ]:
#Lift Tertinggi di DT5
df_liftDT5 = contain_values5.sort_values(['lift'],ascending=False)
df_liftDT5

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1900,"(IDSUB, GE)","(FULL, DT5, G, Ukuran1)",0.515538,0.200435,0.117154,0.227245,1.133760,0.013822,1.034694
1843,"(IDSUB, GE)","(G, Ukuran1, DT5)",0.515538,0.200435,0.117154,0.227245,1.133760,0.013822,1.034694
1879,"(FULL, IDSUB, GE)","(DT5, G, Ukuran1)",0.515538,0.200435,0.117154,0.227245,1.133760,0.013822,1.034694
1910,"(IDSUB, G)","(FULL, DT5, GE, Ukuran1)",0.507147,0.204164,0.117154,0.231005,1.131467,0.013612,1.034904
1891,"(FULL, IDSUB, G)","(DT5, GE, Ukuran1)",0.507147,0.204164,0.117154,0.231005,1.131467,0.013612,1.034904
...,...,...,...,...,...,...,...,...,...
1604,(FULL),"(GE, Ukuran1, DT5)",0.998446,0.204164,0.204164,0.204482,1.001556,0.000317,1.000399
1946,(FULL),"(IDSUB, G, DT5)",0.998446,0.143878,0.143878,0.144102,1.001556,0.000224,1.000262
1988,(FULL),"(IDSUB, GE, G, DT5)",0.998446,0.142635,0.142635,0.142857,1.001556,0.000222,1.000259
1669,(G),"(IDJKT, DT5)",0.949969,0.118707,0.112803,0.118744,1.000308,0.000035,1.000042
1678,"(FULL, G)","(IDJKT, DT5)",0.949969,0.118707,0.112803,0.118744,1.000308,0.000035,1.000042

In [ ]:
#Confidence Tertinggi di DT5
df_ConfDT5 = contain_values5.sort_values(['confidence'],ascending=False)
df_ConfDT5

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1756,"(IDSUB, G, Ukuran1)",(DT5),0.398384,0.266625,0.118397,0.297192,1.114643,0.012177,1.043492
1800,"(FULL, IDSUB, G, Ukuran1)",(DT5),0.398384,0.266625,0.118397,0.297192,1.114643,0.012177,1.043492
1811,"(IDSUB, G, Ukuran1)","(FULL, DT5)",0.398384,0.266004,0.118397,0.297192,1.117247,0.012425,1.044376
1830,"(IDSUB, GE, G, Ukuran1)",(DT5),0.395587,0.266625,0.117154,0.296151,1.110738,0.011680,1.041949
1871,"(IDSUB, GE, G, Ukuran1)","(FULL, DT5)",0.395587,0.266004,0.117154,0.296151,1.113333,0.011926,1.042832
...,...,...,...,...,...,...,...,...,...
1699,(GE),"(FULL, G, IDJKT, DT5)",0.965507,0.112803,0.112492,0.116511,1.032873,0.003580,1.004197
1695,"(FULL, GE)","(G, IDJKT, DT5)",0.965507,0.112803,0.112492,0.116511,1.032873,0.003580,1.004197
1674,(FULL),"(GE, IDJKT, DT5)",0.998446,0.115289,0.115289,0.115468,1.001556,0.000179,1.000203
1680,(FULL),"(G, IDJKT, DT5)",0.998446,0.112803,0.112803,0.112979,1.001556,0.000175,1.000198
1700,(FULL),"(GE, G, IDJKT, DT5)",0.998446,0.112492,0.112492,0.112667,1.001556,0.000175,1.000197

In [ ]:
#Support Tertinggi di DT5
df_SPDT5 = contain_values5.sort_values(['support'],ascending=False)
df_SPDT5

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1538,(GE),(DT5),0.965507,0.266625,0.260721,0.270035,1.012790,0.003293,1.004672
1546,"(FULL, GE)",(DT5),0.965507,0.266625,0.260721,0.270035,1.012790,0.003293,1.004672
1549,(FULL),"(GE, DT5)",0.998446,0.260721,0.260721,0.261127,1.001556,0.000405,1.000549
1550,(GE),"(FULL, DT5)",0.965507,0.266004,0.260721,0.270035,1.015156,0.003893,1.005523
1541,(G),(DT5),0.949969,0.266625,0.256681,0.270200,1.013406,0.003395,1.004898
...,...,...,...,...,...,...,...,...,...
1696,"(GE, G)","(FULL, IDJKT, DT5)",0.944686,0.118086,0.112492,0.119079,1.008411,0.000938,1.001127
1697,"(FULL, G)","(GE, IDJKT, DT5)",0.949969,0.115289,0.112492,0.118417,1.027130,0.002971,1.003548
1700,(FULL),"(GE, G, IDJKT, DT5)",0.998446,0.112492,0.112492,0.112667,1.001556,0.000175,1.000197
1701,(G),"(FULL, GE, IDJKT, DT5)",0.949969,0.115289,0.112492,0.118417,1.027130,0.002971,1.003548
1699,(GE),"(FULL, G, IDJKT, DT5)",0.965507,0.112803,0.112492,0.116511,1.032873,0.003580,1.004197