In [ ]:
from google.colab import files
uploads = files.upload()

Saving Inbound List_20221213154243.xlsx to Inbound List_20221213154243.xlsx
Saving Inbound List_20221213155004 mks.xlsx to Inbound List_20221213155004 mks.xlsx
Saving Inbound List_20221213155311 ampa.xlsx to Inbound List_20221213155311 ampa.xlsx
Saving Inbound List_20221213160623 surya.xlsx to Inbound List_20221213160623 surya.xlsx
Saving Inbound List_20221215163411 intan.xlsx to Inbound List_20221215163411 intan.xlsx
Saving Inbound List_20221215163641 hasa.xlsx to Inbound List_20221215163641 hasa.xlsx
Saving Inbound List_20221215163822 hayu.xlsx to Inbound List_20221215163822 hayu.xlsx
Saving Inbound List_20221215164009 hana.xlsx to Inbound List_20221215164009 hana.xlsx
Saving Inbound List_20221215164233 ctph.xlsx to Inbound List_20221215164233 ctph.xlsx
Saving Inbound List_20221215164452 taab.xlsx to Inbound List_20221215164452 taab.xlsx
Saving Inbound List_20221215164625 mema.xlsx to Inbound List_20221215164625 mema.xlsx
Saving Terminal In & Out_20221213154228.xlsx to Terminal In & Out_20221213154228.xlsx
Saving Terminal In & Out_20221213154936 mks.xlsx to Terminal In & Out_20221213154936 mks.xlsx
Saving Terminal In & Out_20221213155417 ampa.xlsx to Terminal In & Out_20221213155417 ampa.xlsx
Saving Terminal In & Out_20221213160557 surya.xlsx to Terminal In & Out_20221213160557 surya.xlsx
Saving Terminal In & Out_20221215163157 intan.xlsx to Terminal In & Out_20221215163157 intan.xlsx
Saving Terminal In & Out_20221215163731 hasa.xlsx to Terminal In & Out_20221215163731 hasa.xlsx
Saving Terminal In & Out_20221215163922 hayu.xlsx to Terminal In & Out_20221215163922 hayu.xlsx
Saving Terminal In & Out_20221215164048 hana.xlsx to Terminal In & Out_20221215164048 hana.xlsx
Saving Terminal In & Out_20221215164219 ctph.xlsx to Terminal In & Out_20221215164219 ctph.xlsx
Saving Terminal In & Out_20221215164435 taab.xlsx to Terminal In & Out_20221215164435 taab.xlsx
Saving Terminal In & Out_20221215164610 mema.xlsx to Terminal In & Out_20221215164610 mema.xlsx

In [ ]:
import pandas as pd
import os

# Buat list untuk menyimpan data Excel yang akan digabungkan
excel_files = ['Inbound List_20221213154243.xlsx', 'Inbound List_20221213155004 mks.xlsx', 
               'Inbound List_20221213155311 ampa.xlsx', 'Inbound List_20221213160623 surya.xlsx',
               'Inbound List_20221215163411 intan.xlsx', 'Inbound List_20221215163641 hasa.xlsx',
               'Inbound List_20221215163822 hayu.xlsx', 'Inbound List_20221215164009 hana.xlsx',
               'Inbound List_20221215164233 ctph.xlsx', 'Inbound List_20221215164452 taab.xlsx', 'Inbound List_20221215164625 mema.xlsx']

# Buat DataFrame kosong untuk menampung data Excel yang digabungkan
combined_df = pd.DataFrame()

# Loop melalui setiap file Excel dan gabungkan ke DataFrame yang kosong
for file in excel_files:
    if os.path.isfile(file):  # Pastikan file ada di direktori
        df = pd.read_excel(file)
        combined_df = combined_df.append(df)

# Simpan DataFrame yang digabungkan menjadi file Excel baru
combined_df.to_excel('combined_file_inbound.xlsx', index=False)

In [ ]:
import pandas as pd
import os

# Buat list untuk menyimpan data Excel yang akan digabungkan
excel_files = ['Terminal In & Out_20221213154228.xlsx', 'Terminal In & Out_20221213154936 mks.xlsx', 
               'Terminal In & Out_20221213155417 ampa.xlsx', 'Terminal In & Out_20221213160557 surya.xlsx',
               'Terminal In & Out_20221215163157 intan.xlsx', 'Terminal In & Out_20221215163731 hasa.xlsx',
               'Terminal In & Out_20221215163922 hayu.xlsx', 'Terminal In & Out_20221215164048 hana.xlsx',
               'Terminal In & Out_20221215164219 ctph.xlsx', 'Terminal In & Out_20221215164435 taab.xlsx', 'Terminal In & Out_20221215164610 mema.xlsx']

# Buat DataFrame kosong untuk menampung data Excel yang digabungkan
combined_df_terminal = pd.DataFrame()

# Loop melalui setiap file Excel dan gabungkan ke DataFrame yang kosong
for file in excel_files:
    if os.path.isfile(file):  # Pastikan file ada di direktori
        df_terminal = pd.read_excel(file)
        combined_df_terminal = combined_df_terminal.append(df_terminal)

# Simpan DataFrame yang digabungkan menjadi file Excel baru
combined_df_terminal.to_excel('combined_file_terminal.xlsx', index=False)

In [ ]:
combined_df.head(20)

,No.,Stowage,Cargo,Op.Type,DS Plan,POW,Position,Class,Out Crr.Type,Out Carrier,...,OD R,OD H,Comb.,Sub STWG,TML Unit ID,Hatch IDX,Bay IDX,Row IDX,Tier IDX,Block
0,1.0,170602.0,BEAU2717678,Container,NaN,GOT,NaN,Import,G,56.0,...,NaN,NaN,None,1.0,20221112C340657,4.0,12.0,12.0,54.0,NaN
1,2.0,210302.0,BEAU2882522,Container,NaN,GOT,NaN,Import,G,1444.0,...,NaN,NaN,None,1.0,20221112C340728,5.0,15.0,17.0,54.0,NaN
2,3.0,220482.0,BEAU5088814,Container,NaN,GOT,NaN,Import,G,1223.0,...,NaN,NaN,None,1.0,20221112C340892,5.0,16.0,13.0,15.0,NaN
3,4.0,100384.0,BMOU5455046,Container,NaN,GOT,NaN,Import,G,556.0,...,NaN,NaN,None,1.0,20221112C340899,2.0,7.0,17.0,14.0,NaN
4,5.0,140782.0,BMOU6014430,Container,NaN,GOT,NaN,Import,G,186.0,...,NaN,NaN,None,1.0,20221112C340952,3.0,10.0,19.0,15.0,NaN
5,6.0,290086.0,CAIU5220273,Container,NaN,GOT,NaN,Import,G,1715.0,...,NaN,NaN,None,1.0,20221112C340722,7.0,21.0,15.0,13.0,NaN
6,7.0,150082.0,CICU8585990,Container,NaN,GOT,NaN,Import,G,57.0,...,NaN,NaN,None,1.0,20221112C340658,3.0,11.0,15.0,15.0,NaN
7,8.0,70108.0,CICU8587544,Container,NaN,GOT,NaN,Import,G,934.0,...,NaN,NaN,None,1.0,20221112C340781,1.0,5.0,16.0,51.0,NaN
8,9.0,210208.0,CICU8587950,Container,NaN,GOT,NaN,Import,G,1575.0,...,NaN,NaN,None,1.0,20221112C340630,5.0,15.0,14.0,51.0,NaN
9,10.0,130082.0,CICU8589742,Container,NaN,GOT,NaN,Import,G,272.0,...,NaN,NaN,None,1.0,20221112C340668,3.0,9.0,15.0,15.0,NaN
10,11.0,150504.0,CICU8592704,Container,NaN,GOT,NaN,Import,G,272.0,...,NaN,NaN,None,1.0,20221112C340665,3.0,11.0,18.0,53.0,NaN
11,12.0,230402.0,CICU8593260,Container,NaN,GOT,NaN,Import,G,259.0,...,NaN,NaN,None,1.0,20221112C340703,5.0,17.0,13.0,54.0,NaN
12,13.0,130308.0,CICU8594749,Container,NaN,GOT,NaN,Import,G,147.0,...,NaN,NaN,None,1.0,20221112C340809,3.0,9.0,17.0,51.0,NaN
13,14.0,10008.0,CICU8595766,Container,NaN,GOT,NaN,Import,G,309.0,...,NaN,NaN,None,1.0,20221112C340818,0.0,0.0,15.0,51.0,NaN
14,15.0,110308.0,CICU8596130,Container,NaN,GOT,NaN,Import,G,258.0,...,NaN,NaN,None,1.0,20221112C340693,2.0,8.0,17.0,51.0,NaN
15,16.0,110608.0,CICU8596269,Container,NaN,GOT,NaN,Import,G,1397.0,...,NaN,NaN,None,1.0,20221112C340785,2.0,8.0,12.0,51.0,NaN
16,17.0,50306.0,CICU8596280,Container,NaN,GOT,NaN,Import,G,934.0,...,NaN,NaN,None,1.0,20221112C340793,1.0,3.0,17.0,52.0,NaN
17,18.0,250304.0,CICU8597898,Container,NaN,GOT,NaN,Import,G,251.0,...,NaN,NaN,None,1.0,20221112C340697,6.0,18.0,17.0,53.0,NaN
18,19.0,130404.0,CICU8599252,Container,NaN,GOT,NaN,Import,G,265.0,...,NaN,NaN,None,1.0,20221112C340706,3.0,9.0,13.0,53.0,NaN
19,20.0,110306.0,CICU8599904,Container,NaN,GOT,NaN,Import,G,813.0,...,NaN,NaN,None,1.0,20221112C340761,2.0,8.0,17.0,52.0,NaN

In [ ]:
combined_df_terminal.head(20)

,No.,Move\nType,Cargo,Class,POW,Position,In TRSP\nType,In Carrier ID,In Carrier Name,In Carrier Voyage,...,D/O,S/O,Movement Date,In Terminal,Out Terminal,Dwelling Time,Truck In,Truck Out,Service Type,Cargo ID
0,1.0,DS,BEAU2717678,IM,GOT,NaN,V,TATE-0005,TANTO TERANG,208/22,...,NaN,NaN,2022-11-14 06:43,2022-11-14 06:43,2022-11-16 10:53,2.17,NaN,NaN,NaN,20221112C340657
1,2.0,DS,BEAU2882522,IM,GOT,NaN,V,TATE-0005,TANTO TERANG,208/22,...,NaN,NaN,2022-11-14 08:34,2022-11-14 08:34,2022-11-17 17:17,3.36,NaN,NaN,NaN,20221112C340728
2,3.0,DS,BEAU5088814,IM,GOT,NaN,V,TATE-0005,TANTO TERANG,208/22,...,NaN,NaN,2022-11-14 01:39,2022-11-14 01:39,2022-11-16 08:28,2.28,NaN,NaN,NaN,20221112C340892
3,4.0,DS,BMOU5455046,IM,GOT,NaN,V,TATE-0005,TANTO TERANG,208/22,...,NaN,NaN,2022-11-14 00:56,2022-11-14 00:56,2022-11-14 13:47,0.54,NaN,NaN,NaN,20221112C340899
4,5.0,DS,BMOU6014430,IM,GOT,NaN,V,TATE-0005,TANTO TERANG,208/22,...,NaN,NaN,2022-11-14 06:15,2022-11-14 06:15,2022-11-15 18:17,1.50,NaN,NaN,NaN,20221112C340952
5,6.0,DS,CAIU5220273,IM,GOT,NaN,V,TATE-0005,TANTO TERANG,208/22,...,NaN,NaN,2022-11-14 01:47,2022-11-14 01:47,2022-11-14 10:31,0.36,NaN,NaN,NaN,20221112C340722
6,7.0,DS,CICU8585990,IM,GOT,NaN,V,TATE-0005,TANTO TERANG,208/22,...,NaN,NaN,2022-11-14 07:44,2022-11-14 07:44,2022-11-15 08:42,1.04,NaN,NaN,NaN,20221112C340658
7,8.0,DS,CICU8587544,IM,GOT,NaN,V,TATE-0005,TANTO TERANG,208/22,...,NaN,NaN,2022-11-14 03:42,2022-11-14 03:42,2022-11-14 16:48,0.55,NaN,NaN,NaN,20221112C340781
8,9.0,DS,CICU8587950,IM,GOT,NaN,V,TATE-0005,TANTO TERANG,208/22,...,NaN,NaN,2022-11-14 09:42,2022-11-14 09:42,2022-11-14 21:15,0.48,NaN,NaN,NaN,20221112C340630
9,10.0,DS,CICU8589742,IM,GOT,NaN,V,TATE-0005,TANTO TERANG,208/22,...,NaN,NaN,2022-11-14 07:13,2022-11-14 07:13,2022-11-15 08:48,1.07,NaN,NaN,NaN,20221112C340668
10,11.0,DS,CICU8592704,IM,GOT,NaN,V,TATE-0005,TANTO TERANG,208/22,...,NaN,NaN,2022-11-14 08:33,2022-11-14 08:33,2022-11-15 13:56,1.22,NaN,NaN,NaN,20221112C340665
11,12.0,DS,CICU8593260,IM,GOT,NaN,V,TATE-0005,TANTO TERANG,208/22,...,NaN,NaN,2022-11-14 08:32,2022-11-14 08:32,2022-11-16 10:45,2.09,NaN,NaN,NaN,20221112C340703
12,13.0,DS,CICU8594749,IM,GOT,NaN,V,TATE-0005,TANTO TERANG,208/22,...,NaN,NaN,2022-11-14 06:42,2022-11-14 06:42,2022-11-15 15:10,1.35,NaN,NaN,NaN,20221112C340809
13,14.0,DS,CICU8595766,IM,GOT,NaN,V,TATE-0005,TANTO TERANG,208/22,...,NaN,NaN,2022-11-14 02:37,2022-11-14 02:37,2022-11-14 11:28,0.37,NaN,NaN,NaN,20221112C340818
14,15.0,DS,CICU8596130,IM,GOT,NaN,V,TATE-0005,TANTO TERANG,208/22,...,NaN,NaN,2022-11-14 04:10,2022-11-14 04:10,2022-11-16 11:53,2.32,NaN,NaN,NaN,20221112C340693
15,16.0,DS,CICU8596269,IM,GOT,NaN,V,TATE-0005,TANTO TERANG,208/22,...,NaN,NaN,2022-11-14 04:26,2022-11-14 04:26,2022-11-15 11:37,1.30,NaN,NaN,NaN,20221112C340785
16,17.0,DS,CICU8596280,IM,GOT,NaN,V,TATE-0005,TANTO TERANG,208/22,...,NaN,NaN,2022-11-14 03:27,2022-11-14 03:27,2022-11-15 13:55,1.44,NaN,NaN,NaN,20221112C340793
17,18.0,DS,CICU8597898,IM,GOT,NaN,V,TATE-0005,TANTO TERANG,208/22,...,NaN,NaN,2022-11-14 04:07,2022-11-14 04:07,2022-11-15 19:54,1.66,NaN,NaN,NaN,20221112C340697
18,19.0,DS,CICU8599252,IM,GOT,NaN,V,TATE-0005,TANTO TERANG,208/22,...,NaN,NaN,2022-11-14 07:38,2022-11-14 07:38,2022-11-16 13:41,2.25,NaN,NaN,NaN,20221112C340706
19,20.0,DS,CICU8599904,IM,GOT,NaN,V,TATE-0005,TANTO TERANG,208/22,...,NaN,NaN,2022-11-14 04:29,2022-11-14 04:29,2022-11-16 11:46,2.30,NaN,NaN,NaN,20221112C340761

**Data Cleaning & Integration**

In [ ]:
combined_df1 = combined_df.drop(['No.', 'Stowage', 'Op.Type', 'DS Plan', 'POW', 
                                'Position', 'Class', 'Out Crr.Type', 'Out Carrier',
                                'Thru', 'Direct', 'OPR', 'POR', 'POD', 'NPOD', 'FPOD',
                                'FDEST', 'B/L', 'LEN', 'WID', 'HGT', 'Type',
                                'VGM', 'Restow Type', 'Restow STWG','RF', 'DG', 'OOG',
                                'Temp.', 'C/F', 'UNNO', 'IMDG', 'OD F', 'OD B', 'OD L',
                                'OD R', 'OD H', 'Comb.', 'Sub STWG', 'TML Unit ID',
                                'Hatch IDX', 'Bay IDX', 'Row IDX', 'Tier IDX', 'Block'], axis =1)

In [ ]:
combined_df1.head()

         Cargo    POL   F/M Comm.   ISO UT       GW
0  BEAU2717678  IDJKT  FULL    GE  22G1  G   7000.0
1  BEAU2882522  IDJKT  FULL    GE  22G1  G   5000.0
2  BEAU5088814  IDJKT  FULL    GE  45G1  G  12000.0
3  BMOU5455046  IDJKT  FULL    GE  45G1  G  10000.0
4  BMOU6014430  IDJKT  FULL    GE  45G1  G  20000.0

In [ ]:
combined_df_terminal1 = combined_df_terminal.drop(['No.', 'Class',
                                                   'Position', 'POW',
                                                   'In Carrier ID', 'In Carrier Name', 
                                                   'In Carrier Voyage',
                                                   'Out Carrier ID', 'Out Carrier Name',
                                                   'Out Carrier Voyage', 'F/M',
                                                   'Comm.', 'ISO', 'OPR', 'POD',
                                                   'NPOD', 'FDEST','D/O', 'S/O',
                                                   'Movement Date','In Terminal', 'Out Terminal',
                                                   'Truck In','Truck Out', 'Service Type', 'Cargo ID'], axis =1)

In [ ]:
combined_df_terminal1.head()

  Move\nType        Cargo In TRSP\nType Out TRSP\nType  Length  Dwelling Time
0         DS  BEAU2717678             V              G    20.0           2.17
1         DS  BEAU2882522             V              G    20.0           3.36
2         DS  BEAU5088814             V              G    40.0           2.28
3         DS  BMOU5455046             V              G    40.0           0.54
4         DS  BMOU6014430             V              G    40.0           1.50

In [ ]:
combined_df_terminal2 = combined_df_terminal1.drop(combined_df_terminal1.columns[[0,2,3]], axis=1)

In [ ]:
combined_df_terminal2.head()

         Cargo  Length  Dwelling Time
0  BEAU2717678    20.0           2.17
1  BEAU2882522    20.0           3.36
2  BEAU5088814    40.0           2.28
3  BMOU5455046    40.0           0.54
4  BMOU6014430    40.0           1.50

In [ ]:
combined_df1 = combined_df1.reset_index().rename(columns={'Cargo': 'id'})
combined_df_terminal2 = combined_df_terminal2.reset_index().rename(columns={'Cargo': 'id'})

merge_dataset = pd.concat([combined_df1, combined_df_terminal2], axis=1)

In [ ]:
merge_dataset.head()

,index,id,POL,F/M,Comm.,ISO,UT,GW,index,id,Length,Dwelling Time
0,0.0,BEAU2717678,IDJKT,FULL,GE,22G1,G,7000.0,0,BEAU2717678,20.0,2.17
1,1.0,BEAU2882522,IDJKT,FULL,GE,22G1,G,5000.0,1,BEAU2882522,20.0,3.36
2,2.0,BEAU5088814,IDJKT,FULL,GE,45G1,G,12000.0,2,BEAU5088814,40.0,2.28
3,3.0,BMOU5455046,IDJKT,FULL,GE,45G1,G,10000.0,3,BMOU5455046,40.0,0.54
4,4.0,BMOU6014430,IDJKT,FULL,GE,45G1,G,20000.0,4,BMOU6014430,40.0,1.50

In [ ]:
merge_fix_data = merge_dataset.drop(merge_dataset.columns[[0,1,8,9]], axis =1)

In [ ]:
merge_fix_data.head()

     POL   F/M Comm.   ISO UT       GW  Length  Dwelling Time
0  IDJKT  FULL    GE  22G1  G   7000.0    20.0           2.17
1  IDJKT  FULL    GE  22G1  G   5000.0    20.0           3.36
2  IDJKT  FULL    GE  45G1  G  12000.0    40.0           2.28
3  IDJKT  FULL    GE  45G1  G  10000.0    40.0           0.54
4  IDJKT  FULL    GE  45G1  G  20000.0    40.0           1.50

**Data Exploration, Cleaning & Pre-processing**

In [ ]:
dataset_new = merge_fix_data.rename(columns={'POL' : 'Pelabuhan Asal',
                                             'F/M' : 'Status Kontainer',
                                             'Comm.' : 'Komoditas',
                                             'Length' : 'Ukuran Kontainer',
                                             'GW' : 'Gross Kontainer',
                                             'UT' : 'Jenis Kontainer'})

In [ ]:
dataset_new.head()

,Pelabuhan Asal,Status Kontainer,Komoditas,ISO,Jenis Kontainer,Gross Kontainer,Ukuran Kontainer,Dwelling Time
0,IDJKT,FULL,GE,22G1,G,7000.0,20.0,2.17
1,IDJKT,FULL,GE,22G1,G,5000.0,20.0,3.36
2,IDJKT,FULL,GE,45G1,G,12000.0,40.0,2.28
3,IDJKT,FULL,GE,45G1,G,10000.0,40.0,0.54
4,IDJKT,FULL,GE,45G1,G,20000.0,40.0,1.50

In [ ]:
#Hapus ISO Karena Beberapa kategori tidak sesuai aturan ISO
dataset_new_noISO = dataset_new.drop(['ISO'], axis =1)

In [ ]:
dataset_new_noISO.head()

,Pelabuhan Asal,Status Kontainer,Komoditas,Jenis Kontainer,Gross Kontainer,Ukuran Kontainer,Dwelling Time
0,IDJKT,FULL,GE,G,7000.0,20.0,2.17
1,IDJKT,FULL,GE,G,5000.0,20.0,3.36
2,IDJKT,FULL,GE,G,12000.0,40.0,2.28
3,IDJKT,FULL,GE,G,10000.0,40.0,0.54
4,IDJKT,FULL,GE,G,20000.0,40.0,1.50

In [ ]:
import numpy as np
dataset_new_noISO['Kategori Dwelling Time'] = np.where(dataset_new_noISO['Dwelling Time']<=1.0, 'DT1',
                                              np.where(dataset_new_noISO['Dwelling Time']<=2.0, 'DT2',
                                              np.where(dataset_new_noISO['Dwelling Time']<=3.0, 'DT3',
                                              np.where(dataset_new_noISO['Dwelling Time']<=4.0, 'DT4',
                                              'DT5'))))

In [ ]:
#Konversi Semua Data Yang Berupa Kategorikal Menjadi Numerical (Pelabuhan Asal, Status Kontainer, Komoditas, Jenis Kontainer)
import pandas as pd

# Pilih dataframe
df_test = dataset_new_noISO

# kolom yang akan di one-hot encoding
cols_to_encode = ['Pelabuhan Asal', 'Status Kontainer', 'Komoditas', 'Jenis Kontainer']

# melakukan one-hot encoding pada kolom yang diinginkan
df_encoded = pd.get_dummies(df_test, columns=cols_to_encode)

# tampilkan hasil one-hot encoding
df_encoded.head()

,Gross Kontainer,Ukuran Kontainer,Dwelling Time,Kategori Dwelling Time,Pelabuhan Asal_IDJKT,Pelabuhan Asal_IDSUB,Status Kontainer_EMPTY,Status Kontainer_FULL,Komoditas_GE,Komoditas_HZ,Komoditas_MT,Komoditas_RF,Jenis Kontainer_B,Jenis Kontainer_G,Jenis Kontainer_R,Jenis Kontainer_T
0,7000.0,20.0,2.17,DT3,1,0,0,1,1,0,0,0,0,1,0,0
1,5000.0,20.0,3.36,DT4,1,0,0,1,1,0,0,0,0,1,0,0
2,12000.0,40.0,2.28,DT3,1,0,0,1,1,0,0,0,0,1,0,0
3,10000.0,40.0,0.54,DT1,1,0,0,1,1,0,0,0,0,1,0,0
4,20000.0,40.0,1.50,DT2,1,0,0,1,1,0,0,0,0,1,0,0

In [ ]:
dataset_new_noISO = dataset_new_noISO.drop(['Dwelling Time'], axis =1)

In [ ]:
#Scalling Semua data yang masih berupa Float (Gross Kontainer, Dwelling Time).
#Ukuran tidak Di Scale karen rangenya sudah jelas
from sklearn.preprocessing import MinMaxScaler

# Dataframe awal
df_scale = df_encoded
# List kolom yang akan di-scaling
columns_to_scale = ['Gross Kontainer', ]

# Inisiasi objek scaler
scaler = MinMaxScaler()

# Lakukan scaling pada kolom-kolom tertentu
df_scale[columns_to_scale] = scaler.fit_transform(df_scale[columns_to_scale])

# Tampilkan hasil scaling
df_scale.head()

,Gross Kontainer,Ukuran Kontainer,Dwelling Time,Kategori Dwelling Time,Pelabuhan Asal_IDJKT,Pelabuhan Asal_IDSUB,Status Kontainer_EMPTY,Status Kontainer_FULL,Komoditas_GE,Komoditas_HZ,Komoditas_MT,Komoditas_RF,Jenis Kontainer_B,Jenis Kontainer_G,Jenis Kontainer_R,Jenis Kontainer_T
0,0.161290,20.0,2.17,DT3,1,0,0,1,1,0,0,0,0,1,0,0
1,0.096774,20.0,3.36,DT4,1,0,0,1,1,0,0,0,0,1,0,0
2,0.322581,40.0,2.28,DT3,1,0,0,1,1,0,0,0,0,1,0,0
3,0.258065,40.0,0.54,DT1,1,0,0,1,1,0,0,0,0,1,0,0
4,0.580645,40.0,1.50,DT2,1,0,0,1,1,0,0,0,0,1,0,0

In [ ]:
# Mengecek keberadaan nilai null pada seluruh dataframe
null_df = df_scale.isna()
print(null_df)

# Mengecek posisi nilai null pada setiap kolom
for col in null_df.columns:
    if null_df[col].any():
        print(f"Kolom {col} memiliki nilai null pada index berikut:")
        print(null_df.index[null_df[col]])

      Gross Kontainer  Ukuran Kontainer  Dwelling Time  \
0               False             False          False
1               False             False          False
2               False             False          False
3               False             False          False
4               False             False          False
...               ...               ...            ...
3417             True             False          False
3418             True             False          False
3419             True             False          False
3420             True             False          False
3421             True             False          False

      Kategori Dwelling Time  Pelabuhan Asal_IDJKT  Pelabuhan Asal_IDSUB  \
0                      False                 False                 False
1                      False                 False                 False
2                      False                 False                 False
3                      False                 False                 False
4                      False                 False                 False
...                      ...                   ...                   ...
3417                   False                 False                 False
3418                   False                 False                 False
3419                   False                 False                 False
3420                   False                 False                 False
3421                   False                 False                 False

      Status Kontainer_EMPTY  Status Kontainer_FULL  Komoditas_GE  \
0                      False                  False         False
1                      False                  False         False
2                      False                  False         False
3                      False                  False         False
4                      False                  False         False
...                      ...                    ...           ...
3417                   False                  False         False
3418                   False                  False         False
3419                   False                  False         False
3420                   False                  False         False
3421                   False                  False         False

      Komoditas_HZ  Komoditas_MT  Komoditas_RF  Jenis Kontainer_B  \
0            False         False         False              False
1            False         False         False              False
2            False         False         False              False
3            False         False         False              False
4            False         False         False              False
...            ...           ...           ...                ...
3417         False         False         False              False
3418         False         False         False              False
3419         False         False         False              False
3420         False         False         False              False
3421         False         False         False              False

      Jenis Kontainer_G  Jenis Kontainer_R  Jenis Kontainer_T
0                 False              False              False
1                 False              False              False
2                 False              False              False
3                 False              False              False
4                 False              False              False
...                 ...                ...                ...
3417              False              False              False
3418              False              False              False
3419              False              False              False
3420              False              False              False
3421              False              False              False

[3422 rows x 16 columns]
Kolom Gross Kontainer memiliki nilai null pada index berikut:
Int64Index([ 152,  462,  463,  464,  469,  470,  478,  481,  482,  483,
            ...
            3412, 3413, 3414, 3415, 3416, 3417, 3418, 3419, 3420, 3421],
           dtype='int64', length=933)
Kolom Ukuran Kontainer memiliki nilai null pada index berikut:
Int64Index([1673], dtype='int64')
Kolom Dwelling Time memiliki nilai null pada index berikut:
Int64Index([ 476,  612,  687,  688,  710,  715,  812,  819,  826, 1011, 1015,
            1119, 1205, 1214, 1220, 1223, 1249, 1342, 1401, 1403, 1673, 1797,
            1816, 1880, 1886, 1915, 1972, 1990, 2052, 2071, 2135, 2141, 2170,
            2227, 2245, 2333, 2357, 2378, 2386, 2387, 2443, 2470, 2539, 2633,
            2732, 3240],
           dtype='int64')

In [ ]:
df_scale.dropna(inplace=True)

In [ ]:
import numpy as np
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

df_pre = df_scale
# Pisahkan data ke dalam variabel X dan y
X = df_pre.drop('Kategori Dwelling Time', axis=1)
y = df_pre['Kategori Dwelling Time']

# Bagi data menjadi data training dan data testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Lakukan normalisasi data
scaler = MinMaxScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Inisialisasi model multi-SVM
models = {}
for class_name in y_train.unique():
    models[class_name] = SVC(kernel='linear', probability=True)

# Latih model untuk setiap kelas
for class_name, model in models.items():
    y_train_binary = np.where(y_train == class_name, 1, 0)
    model.fit(X_train, y_train_binary)

# Hitung skor akurasi model
accuracies = []
for class_name, model in models.items():
    y_test_binary = np.where(y_test == class_name, 1, 0)
    accuracy = accuracy_score(y_test_binary, model.predict(X_test))
    accuracies.append(accuracy)
    print(f"Accuracy for class {class_name}: {accuracy}")

# Hitung skor akurasi rata-rata
print(f"Mean accuracy: {np.mean(accuracies)}")

Accuracy for class DT5: 0.936734693877551
Accuracy for class DT2: 0.7795918367346939
Accuracy for class DT1: 0.8734693877551021
Accuracy for class DT4: 0.8367346938775511
Accuracy for class DT3: 0.8326530612244898
Mean accuracy: 0.8518367346938776

In [ ]:
import numpy as np
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

# Load data
df_pre = df_scale

# Pisahkan data ke dalam variabel X dan y
X = df_pre.drop('Kategori Dwelling Time', axis=1)
y = df_pre['Kategori Dwelling Time']

# Bagi data menjadi data training dan data testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Lakukan normalisasi data
scaler = MinMaxScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Inisialisasi model multi-SVM dengan teknik One-vs-All
model = SVC(kernel='linear', probability=True, decision_function_shape='ovr')

# Latih model
model.fit(X_train, y_train)

# Hitung skor akurasi model
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")

# Hitung laporan klasifikasi
target_names = y_test.unique()
print(classification_report(y_test, y_pred, target_names=target_names))

Accuracy: 0.5346938775510204
              precision    recall  f1-score   support

         DT3       0.54      0.62      0.58        94
         DT2       0.41      0.56      0.47       108
         DT1       0.10      0.05      0.07        82
         DT5       0.44      0.56      0.49        80
         DT4       1.00      0.75      0.86       126

    accuracy                           0.53       490
   macro avg       0.50      0.51      0.49       490
weighted avg       0.54      0.53      0.53       490

In [ ]:
import numpy as np
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

# Load data
df_pre = df_scale

# Pisahkan data ke dalam variabel X dan y
X = df_pre.drop('Kategori Dwelling Time', axis=1)
y = df_pre['Kategori Dwelling Time']

# Bagi data menjadi data training dan data testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Lakukan normalisasi data
scaler = MinMaxScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Inisialisasi model multi-SVM dengan teknik One-vs-All
model = SVC(kernel='linear', probability=True, decision_function_shape='ovo')

# Latih model
model.fit(X_train, y_train)

# Hitung skor akurasi model
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")

# Hitung laporan klasifikasi
target_names = y_test.unique()
print(classification_report(y_test, y_pred, target_names=target_names))

Accuracy: 0.5346938775510204
              precision    recall  f1-score   support

         DT3       0.54      0.62      0.58        94
         DT2       0.41      0.56      0.47       108
         DT1       0.10      0.05      0.07        82
         DT5       0.44      0.56      0.49        80
         DT4       1.00      0.75      0.86       126

    accuracy                           0.53       490
   macro avg       0.50      0.51      0.49       490
weighted avg       0.54      0.53      0.53       490